@import 'apps/recent-activity/src/base-scss/import';

cirrus-recent-activity-instructer {
  padding: 18px 0;

  @include breakpoint(mobile) {
    padding: 29px 0;
  }

  @include breakpoint(tablet) {
    padding: 50px 0;
  }
}

.recent-activity-welcome-heading {
  display: flex;
  flex-direction: column;

  p {
    max-width: 635px;
    color: $gray6;
    margin: 15px 0 30px;
  }

  .secondary-btn-black {
    display: inline-block;
  }

  @include breakpoint(tablet) {
    .welcome-toggle-container {
      display: flex;
      align-items: center;
    }
    cirrus-toggle-instructor-student {
      margin-left: 11px;
    }
  }

  @include breakpoint(mobile) {
    p {
      margin: 15px 30px 30px 0;
    }
  }

  @media (min-width: 715px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.notifications-student-task-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100%;

  @include breakpoint(mobile) {
    margin-top: 110px;
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.notifications-wrapper,
.student-task-wrapper {
  width: 100%;
  @include breakpoint(desktop) {
    width: 48%;
  }
}

.student-task-wrapper {
  margin-top: 90px;
  @include breakpoint(desktop) {
    margin-top: 0;
  }
}

.flight-instruction-hours-wrapper {
  margin-top: 87px;
  @include breakpoint(mobile) {
    margin-top: 110px;
  }
}

.students-input-wrapper {
  margin-top: 50px;

  .mat-form-field {
    width: 100%;
    @include breakpoint(mobile) {
      width: 50%;
    }
  }
}

.search-input-container {
  max-width: 522px;
}
