<ng-container
  *ngIf="
    recentActivityNotificationsInstructors$
      | async as recentActivityNotificationsInstructor
  "
>
  <div class="recent-activity-welcome-heading content-wrapper">
    <div class="welcome-toggle-container">
      <h1 class="heading-3">Welcome back, {{ user?.firstname }}</h1>
      <cirrus-toggle-instructor-student
        (toggleViewEmit)="toggleView()"
        [activeName]="'Instructor'"
      ></cirrus-toggle-instructor-student>
    </div>

    <cirrus-total-flight-hours-instructor
      [instructorHours]="instructorHours"
      [studentHours]="studentHours"
    ></cirrus-total-flight-hours-instructor>
  </div>

  <div class="content-wrapper">
    <cirrus-recent-students
      [recentStudents]="
        recentActivityNotificationsInstructor.recentActivity.instructor_students
          .recent_students
      "
    ></cirrus-recent-students>
  </div>

  <div class="notifications-student-task-wrapper content-wrapper">
    <cirrus-notifications-section
      class="notifications-wrapper"
      [notifications]="recentActivityNotificationsInstructor.notifications"
      (viewAllNotifications)="viewAllNotifications()"
    ></cirrus-notifications-section>

    <cirrus-student-task-performance
      class="student-task-wrapper"
    ></cirrus-student-task-performance>
  </div>
</ng-container>
