<ng-container
  *ngIf="
    recentActivityNotificationsInstructors$
      | async as recentActivityNotificationsInstructor
  "
>
  <div class="recent-activity-welcome-heading content-wrapper">
    <div class="welcome-toggle-container">
      <h1 class="heading-3">Welcome back, {{ user?.firstname }}</h1>
      <cirrus-toggle-instructor-student
        (toggleViewEmit)="toggleView()"
        [activeName]="'Instructor'"
      ></cirrus-toggle-instructor-student>
    </div>

    <cirrus-total-flight-hours-instructor
      [instructorHours]="instructorHours"
      [studentHours]="studentHours"
    ></cirrus-total-flight-hours-instructor>
  </div>

  <div class="content-wrapper">
    <cirrus-recent-students
      [recentStudents]="
        recentActivityNotificationsInstructor.recentActivity.instructor_students
          .recent_students
      "
    ></cirrus-recent-students>
  </div>

  <div
    class="content-wrapper students-input-wrapper"
    *ngIf="
      recentActivityNotificationsInstructor.recentActivity.instructor_students
        .students.length
    "
  >
    <div class="search-input-container">
      <cirrus-search-input
        (textOutput)="filterText($event)"
        [list]="filteredStudents$ | async"
        title="Search My Students"
        (emitSelection)="emitNavigation($event)"
      ></cirrus-search-input>
    </div>
  </div>

  <div class="notifications-student-task-wrapper content-wrapper">
    <cirrus-notifications-section
      class="notifications-wrapper"
      [notifications]="recentActivityNotificationsInstructor.notifications"
      (viewAllNotifications)="viewAllNotifications()"
    ></cirrus-notifications-section>

    <cirrus-student-task-performance
      class="student-task-wrapper"
    ></cirrus-student-task-performance>
  </div>

  <div class="flight-instruction-hours-wrapper content-wrapper">
    <cirrus-flight-instruction-hours
      [flightInstructionsHours]="
        recentActivityNotificationsInstructor.recentActivity.overall_progress
          .instructor_flight_log_stats
      "
    ></cirrus-flight-instruction-hours>
  </div>
</ng-container>
