<div class="badge-container" *ngIf="badges.length > 0; else noBadges">
  <div class="badge" *ngFor="let badge of badges">
    <div class="image">
      <img [src]="badge.badge_image" alt="" />
    </div>
    <div class="info">
      <div *ngIf="badge.achieved_on">Achieved {{ badge.achieved_on }}</div>
      <div>{{ badge.course_name }}</div>
    </div>
  </div>
  <button
    class="view"
    mat-stroked-button
    color="primary"
    [routerLink]="['achievements']"
  >
    View All Achievements
  </button>
</div>

<ng-template #noBadges>
  <img src="recent-activity/images/svg/Frame.svg" alt="certificates" />
  <div>You haven't earned any Badges yet. Keep going!</div>
  <button
    class="view"
    mat-stroked-button
    color="primary"
    [routerLink]="['achievements']"
  >
    View All Achievements
  </button>
</ng-template>
