@import 'apps/recent-activity/src/base-scss/import';

.badge-container {
  display: flex;
  flex-direction: column;
}

.badge-list-item {
  align-items: center;
  display: flex;
  margin-top: 15px;
}

.badge-item-text {
  margin: 25px;
}

.badge-name {
  margin-top: 3px;

  @include breakpoint(mobile) {
    margin-top: 6px;
  }
  @include breakpoint(desktop) {
    margin-top: 4px;
  }

}

.achieved-date {
  color: $gray4;
}

.badge-icon {
  height: 90px;
  width: 80px;
  object-fit: contain;
  filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.5));
  
  &.grey {
      filter: grayscale(1) drop-shadow(0px 0px 5px rgba(255,255,255,0.5));
      opacity:.5;
  }
}

.no-badges-container {
  padding-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray6;
}

.no-badges-message {
  margin: 30px 0 15px;
  letter-spacing: -0.1px;
}

.button-container {
  margin: 0 auto;
  margin-top: 20px;
}
