@import 'apps/recent-activity/src/base-scss/import';

.badge-container {
  display: flex;
  flex-direction: column;
}

.badge-list-item {
  align-items: center;
  display: flex;
  margin-top: 13px;
}

.badge-item-text {
  margin: 25px;
}

.badge-name {
  margin-top: 8px
}

.achieved-date {
  color: $gray4;
}

.badge-icon {
  height: 90px;
  width: 80px;
}

.no-badges-container {
  padding-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-badges-message {
  margin-top: 30px;
}

.button-container {
  margin: 0 auto;
  margin-top: 45px;
}
