@import 'apps/recent-activity/src/base-scss/import';

.flight-hours-wrapper {
  padding: 10px 13px;
  background: linear-gradient(
    90.3deg,
    #818181 7.48%,
    #d2d2d2 29.15%,
    #797878 46.69%,
    #d0d0d0 77.79%,
    #616060 99.94%
  );
  border-radius: 3px;
  width: 100%;
  margin-top: 35px;

  .flight-hours-inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flight-hours-label {
    color: $gray1;
    font-size: 0.8125rem;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin: 0 16px 0 11px;
  }

  .hours-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hours-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    flex-grow: 1;
    background: $gray1;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
  }

  .hours {
    color: $white;
    font-size: 1.875rem;
    letter-spacing: 0.34em;
    margin-left: 0.34em;
    text-align: center;
    font-size: clamp(1.25rem, -3.75rem + 25vw, 1.875rem);
  }

  @media (min-width: 715px) {
    width: 245px;
    margin: 0 0 0 30px;
    padding: 8px;
    .flight-hours-inner-wrapper {
      flex-wrap: wrap;
    }
    .flight-hours-label {
      order: 1;
      width: 100%;
      text-align: center;
      margin-bottom: 8px;
    }
    .hours-text-wrapper {
      width: 80%;
      order: 2
    }
    img {
      order: 3;
      width: calc(20% - 5px);
      margin-left: 5px;
    }
  }
}
