<div class="main-container" [ngClass]="collapse ? 'sidenav-collapsed' : 'sidenav-expanded'">
  <div>
    <cirrus-global-header
      [cirrusUser]="(cirrusUser$ | async)!"
      [isLoggedIn]="isLoggedIn$ | async"
      [cirrusImpersonationReturnUser]="(cirrusImpersonateReturnUser$ | async)!"
      [notificationCount]="(notifications$ | async)?.length!"
      (logout)="logout()"
      (impersonationLogout)="impersonationLogout()"
      (toggleNotificationsMenu)="toggleNotificationsMenu()"
      [isScreenSmall]="(isScreenSmall$ | async)!"
      [deployUrl]="'courses'"
      [orderCount]="(myOrdersCount$ | async)!"
    ></cirrus-global-header>
  </div>
  <main>
    <div class="main-content-wrapper">
      <div class="sidenav-wrapper" *ngIf="(isScreenSmall$ | async) === false">
        <cirrus-global-side-nav
          [cirrusUser]="(cirrusUser$ | async)!"
          [isLoggedIn]="isLoggedIn$ | async"
          (emitCollapse)="toggleCollapse($event)"
          [notificationCount]="(notifications$ | async)?.length!"
          (toggleNotificationsMenu)="toggleNotificationsMenu()"
          [deployUrl]="'courses'"
        ></cirrus-global-side-nav>
      </div>

      <div
        class="content-container"
        [ngClass]="collapse ? 'sidenav-collapsed' : 'sidenav-expanded'"
      >
        <div *ngIf="error$ | async" class="error-container">
          <cirrus-error-notification
            [calledFromWhatMfe]="project"
            (emitClose)="dismissErrorMessage()"
          ></cirrus-error-notification>
        </div>

        <div
          [ngClass]="
            (isNotificationMenuOpen$ | async)
              ? 'main-content-wrapper-notifications-menu-active'
              : ''
          "
          #outletContainer
        >
          <div *ngIf="loadingIndicator$ | async" class="spinner-container">
            <mat-spinner class="mat-spinner"></mat-spinner>
          </div>
          <router-outlet>
           
          </router-outlet>
          <cirrus-global-footer></cirrus-global-footer>
        </div>
      </div>
    </div>
  </main>
</div>

<mat-sidenav-container class="sidenav-popout-container">
  <mat-sidenav
    #drawer
    [ngClass]="collapse ? 'popout-collapse' : 'popout-open'"
    fixedInViewport="true"
    mode="push"
    (closedStart)="drawerClosed()"
    (openedStart)="drawerOpened()"
  >
    <cirrus-notifications-menu
      (acceptInvitationEmit)="acceptInvite($event)"
      (declineInvitationEmit)="declineInvite($event)"
      (clearNotficationsEmit)="clearNotifications($event)"
      (deleteNotificationEmit)="deleteNotification($event)"
      (dismissMenu)="dismissNotificationsMenu()"
      [notifications]="(notifications$ | async)!"
      [projectName]="project"
    ></cirrus-notifications-menu>
  </mat-sidenav>
</mat-sidenav-container>
