@use '../styles/variables' as *;


.content-container {
  height: 100%;
  width: 320px;
}

.course-name {
  border-bottom: 1px solid black;
}


.bullet {
  color: $secondary-font-color-grey;
}

.chev-left:hover {
  .course-name {
    border-bottom: 1px solid white;
  }
  cursor: pointer;
}

.lesson-title {
  color: $secondary-font-color-grey;
}

.breadcrumb-container {
  height: 55px;
  padding-left: 16px;
  @media (min-width: 600px) {
    padding-left: 24px;
  }
  @media (min-width: 960px) {
    padding-left: 65px;
  }
}

.sidenav-menu {
  padding: 24px 32px;
  width: 24vw;
  min-width: 300px;
  .sidenav-menu-container {
    width: 100%;
    .header-row {
      padding: 24px 32px;
    }
    .lesson {
      margin-left: 0.5rem;
      align-items: center;
      height: 58px;
      line-height: 58px;
      padding: 0 24px;
      border-radius: 14px;
    }
    .lesson:hover {
      cursor: pointer;
    }
  }
}

.snav-close-button {
  cursor: pointer;
}

.instructor-view-container {
  background-color: #fbc219;
  height: 3rem;
  color: black;
  padding: 0 2rem;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

ul.student-name {
  padding-inline-start: 16px;
}

.sidenav {
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.header-container {
  top: 0;
  position: sticky;
  background-color: black;
  z-index: 0;
}



.outlet-container {
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 55px);
  padding-bottom: 60px;
  &.stop-scrolling {
    overflow: hidden;
  }
}

.hamburger-menu-container {
  background-color: $menu-gray;

  span {
    font-size: 17px;
    color: $secondary-font-color-grey;
  }

}
.sidenav {
  border-right: 1px solid $border-grey;
}





.spinner-container {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  .spinner {
    stroke: $primary-action-color !important;
  }
}




