<div class="container">
  <cirrus-top-navbar></cirrus-top-navbar>
  <cirrus-instructor-bar
    *ngIf="(role$ | async) !== 'pilot'"
    (instructorView)="instructorViewMode($event)"
  ></cirrus-instructor-bar>
  <mat-sidenav-container>
    <mat-sidenav #snav mode="side" (openedChange)="handleOpenChanged($event)">
      <div
        *ngIf="courseId$ | async as courseId"
        class="sidenav-menu"
        fxLayout="row"
      >
        <div fxLayout="column" fxLayoutAlign="space-around start">
          <div class="workbook">Workbook</div>
          <div
            class="lesson"
            *ngFor="let route of workbookRoutes$ | async"
            [routerLink]="[courseId, 'lessons', route.id]"
            routerLinkActive="router-link-active"
          >
            {{ route.title }}
          </div>
        </div>
        <span (click)="snav.toggle()" class="material-icons snav-toggle"
          >menu_open</span
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <cirrus-progress-indicator
        *ngIf="lessonStateBusy$ | async"
      ></cirrus-progress-indicator>
      <span
        (click)="snav.toggle()"
        class="material-icons snav-open-button snav-toggle"
        >menu_open</span
      >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
