@use '../styles/variables' as *;

.error-container {
  z-index: 100;
  position: fixed;
  top: 91%;
  right: 2%;
}

.sidenav-container {
  background-color: #fbc219 !important;
}

.course-name {
  border-bottom: 1px solid black;
}

.bullet {
  color: $secondary-font-color-grey;
}

.snav-close-button {
  cursor: pointer;
}

.instructor-view-container {
  background-color: #fbc219;
  height: 3rem;
  color: black;
  padding: 0 2rem;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

ul.student-name {
  padding-inline-start: 16px;
}

.hamburger-menu-container {
  background-color: $menu-gray;

  span {
    font-size: 17px;
    color: $secondary-font-color-grey;
  }
}

.spinner-container {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  .spinner {
    stroke: $cirrus-blue !important;
  }
}

@import 'apps/recent-activity/src/base-scss/import';

.main-content-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.notifications-menu-active {
  opacity: 0.5;
}

.sidenav-wrapper {
  background: $black;
  border-right: 1px solid $gray2;
  height: 100%;
  position: fixed;
  padding: 1rem 20px;
  z-index: 5;

  @include breakpoint(mobile) {
    top: 5.5rem;
  }

  @include breakpoint(tablet) {
    top: 6rem;
  }
}

.content-container {
  background: $black;
  color: $white;
  margin-top: 5.5rem;;
  width: 100%;

  @include breakpoint(mobile) {
    float: right;
    width: calc(100% - 125px);
  }

  @include breakpoint(tablet) {
    margin-top: 6rem;
    width: calc(100% - 244px);

    &.sidenav-collapsed {
      width: calc(100% - 125px);
    }
  }
}


.error-container {
  z-index: 100;
  position: fixed;
  top: 91%;
  right: 2%;
}

.popout-open,.popout-collapse {
  width: 100%;
  background-color: $black;
  color: $white;
  @include breakpoint(mobile) {
    width: 561px;
    top: 80px !important;
    left: 245px !important;
  }
  @include breakpoint(tablet) {
    width: 434px;
  }
}

.popout-collapse {
  @include breakpoint(mobile) {
    left: 107px !important;
  }
}

.mat-drawer {
  background-color: $gray1;
}

.mat-drawer-container {
  z-index: 10;

  @include breakpoint(mobile) {
    z-index: 1;
  }
}
