<div class="main-container">
  <div class="header-container">
    <cirrus-header
      [cirrusUser]="(cirrusUser$ | async)!"
      [cirrusImpersonationReturnUser]="(cirrusImpersonateReturnUser$ | async)!"
      (hamburgerMenu)="openHamburgerMenu()"
      [notificationCount]="notificationCount$ | async"
    ></cirrus-header>
  </div>
  <main fxLayout="row">
    <div
      [fxFlex]="collapse ? '0 0 100px' : '0 0 200px'"
      class="sidenav"
      *ngIf="(isScreenSmall$ | async) === false"
    >
      <cirrus-side-nav
        [cirrusUser]="(cirrusUser$ | async)!"
        (emitCollapse)="toggleCollapse($event)"
        [notificationCount]="notificationCount$ | async"
      ></cirrus-side-nav>
    </div>
    <div
      class="content-container"
      [fxFlex]="100"
      [ngClass]="{ 'stop-scrolling': sideNavOpen$ | async }"
    >
    <div fxLayout="row" class="breadcrumb-container" (click)="navigateToCourse()" fxLayoutGap="15px" fxLayoutAlign="none center">
      <span fxLayout="row" fxLayoutGap="15px"  class="chev-left">
        <img src="courses/images/svg/chevron-left-white.svg"/>
        <div class="course-name">Course name</div>
      </span>
      <div class="bullet">&#8226;</div>
      <div class="lesson-title">{{(lesson$ | async)?.title}}</div>
    </div>
    <div class="outlet-container">
      <div *ngIf="loadingIndicator$ | async" class="spinner-container"><mat-spinner color="accent"></mat-spinner></div>
      <router-outlet></router-outlet>
    </div>
    </div>
  </main>
</div>

<div *ngIf="showHamburgerMenu" class="hamburger-menu-container">
  <cirrus-side-nav
    [cirrusUser]="(cirrusUser$ | async)!"
    (emitCollapse)="toggleCollapse($event)"
    [type]="'hamburger'"
  ></cirrus-side-nav>
</div>
