<div fxLayout="row" class="lcp-container">
  <div
    *ngIf="menuOpen$ | async"
    class="content-player-sidenav"
    [ngClass]="{ 'add-border': (menuOpen$ | async) }"
  >
    <cirrus-lesson-content-player-menu
      (closeMenu)="handleCloseMenu()"
      [menuItems]="(menuItems$ | async)!"
      (playContent)="handleSideNavSelect($event)"
    ></cirrus-lesson-content-player-menu>
  </div>
  <div class="content-player" fxLayout="row">
    <div
      fxFlex="0 0 120px"
      class="content-player-sidenav-button-container"
      *ngIf="(menuOpen$ | async) === false"
      fxHide.lt-md
    >
      <img [src]="icons.menuIcon" (click)="this.toggleMenu()" />
    </div>

    <div
      [fxFlex]="100"
      class="content-player-main"
      fxLayout="column"
      fxLayoutAlign="center stretch"
    >
      <div
        class="content-player-header"
        fxLayout="row"
        fxLayoutAlign="space-between"
        fxFlex="nogrow"
        [ngClass]="{ 'adjust-padding': (menuOpen$ | async) }"
      >
        <div class="title-block" fxLayout="column" fxLayoutAlign="start start">
          <span class="title-header"> {{ lesson_title }} </span>
          <div
            class="sub-header"
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="16px"
          >
            <span>{{ title }}</span>
            <div
              *ngIf="
                (checkoutOffsRequired$ | async) &&
                (currentContentType === 9 || currentContentType === 10)
              "
            >
              <div fxLayoutAlign="none center">
                <img
                  class="sign-offs-icon"
                  src="courses/images/svg/yellow-warning-icon.svg"
                />
                <span class="sign-offs-required"
                  >Instructor sign off required</span
                >
              </div>
            </div>
          </div>
        </div>
        <img class="close-icon" [src]="icons.closeIcon" mat-dialog-close />
      </div>
      <div
        class="content-player-body"
        fxFlex="grow"
        [ngClass]="{ 'adjust-padding': (menuOpen$ | async) }"
        fxLayout="row"
        fxLayoutAlign="space-between start"
      >
        <div fxLayout="column" class="body-center">
          <div cirrusPlaceholder></div>
        </div>
      </div>
      <div
        class="content-player-footer"
        fxFlex="nogrow"
        [ngClass]="{ 'adjust-padding': (menuOpen$ | async) }"
      >
        <div
          class="content-player__controls"
          *ngIf="(hideBtns$ | async) === false"
        >
          <button class="next-button" mat-raised-button (click)="nextContent()">
            <span class="next" fxHide.lt-sm>Next</span>
            <img class="right-chevron" [src]="icons.rightChevron" alt="r" />
          </button>
          <button
            *ngIf="showPreviousBtn$ | async"
            class="right-button"
            mat-raised-button
            (click)="previousContent()"
          >
            <span class="previous" fxHide.lt-sm>Previous</span>
            <img class="left-chevron" [src]="icons.leftChevron" alt="l" />
          </button>
        </div>
      </div>
      <div
        class="mobile-content-menu"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1rem"
        [fxHide.gt-sm]="true"
        (click)="this.toggleMenu()"
      >
        <img
          class="menu-icon"
          *ngIf="(menuOpen$ | async) === false"
          src="courses/images/svg/lesson-icon-heavy.svg"
          fxFlex="nogrow"
        />
        <div class="menu-label" fxFlex="grow">Lesson Contents</div>
        <img
          class="up-chevron"
          [src]="icons.upChevron"
          alt="up-chevron"
          fxFlex="nogrow"
        />
      </div>
    </div>
  </div>
</div>
