<div fxLayout="row" fxLayoutAlign="space-between start">
  <div
    class="left"
    [fxFlex]="(menuOpen$ | async) === false ? '1 1 100px' : '2 2 350px'"
    [ngClass]="{ 'add-border': (menuOpen$ | async) }"
  >
    <img
      *ngIf="(menuOpen$ | async) === false"
      [src]="menuIcon"
      (click)="this.toggleMenu()"
    />
    <cirrus-lesson-content-player-menu
      *ngIf="menuOpen$ | async"
      (closeMenu)="handleCloseMenu()"
      [menuItems]="menuItems"
      (playContent)="playContent($event)"
    ></cirrus-lesson-content-player-menu>
  </div>
  <div
    class="center"
    fxFlex="9 9 auto"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <div class="lcp-content">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <span> {{ lesson_title }} </span>
        <img [src]="closeIcon" mat-dialog-close />
      </div>
      <div class="sub-header">{{ title }}</div>
      <div
        class="content-wrapper"
        fxLayout="column wrap"
        [ngClass]="{ 'add-padding': (menuOpen$ | async) === false }"
      >
        <div class="full-width">
          <div cirrusPlaceholder></div>
        </div>
      </div>
    </div>
    <mat-dialog-actions
      fxLayout="row"
      fxLayoutAlign="space-between start"
      [ngClass]="{ 'add-padding': (menuOpen$ | async) === false }"
    >
      <button mat-raised-button (click)="previousContent()">
        <span class="previous">Previous</span>
      </button>
      <button mat-raised-button (click)="nextContent()">
        <span class="next">Next</span>
      </button>
    </mat-dialog-actions>
  </div>
</div>
