@use '../styles/variables' as *;



  .sign-offs-required {
    margin-left: 4px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 14px;
    color: #fbc219;
  }
.left {
  height: 95vh;
  width: 100%;
  padding-top: 8px;
  padding-right: 16px;
}
.left.add-border {
  border-right: 1px solid #3A3A3A;
}

.center {
  height: 95vh;
  padding-left: 16px;
  width: 100%;

  .action-container {
    padding-top: 100px;
  }

  .lcp-content {
    width: 100%;
    max-height: max-content;
    .header-container {
      padding: 46px 20px 0px 21px;
    }
    .header {
      font-family: 'Berthold Akzidenz Grotesk BE';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 47px;
      /* identical to box height, or 138% */

      letter-spacing: -0.045em;
    }
    .sub-header-container {
      padding-top: 15px;
    }
    .sub-header {
      font-family: 'Akzidenz-Grotesk BQ';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 25px;
      /* identical to box height, or 104% */

      letter-spacing: 0.02em;
    }
    .content-wrapper {
      margin-top: 24px;
    }
    .content-wrapper.add-padding {
      padding-right: 100px;
    }
  }
  mat-dialog-actions {
    width: 100%;
    button {
      width: 130px;
      background: #3A3A3A;
      border-radius: 60px;

      span {
        // typography
        font-family: 'Akzidenz-Grotesk BQ';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        /* or 135% */
        letter-spacing: -0.005em;

        color: #FFFFFF;
      }
    }
  }

  mat-dialog-actions.add-padding {
    padding-right: 100px;
  }
}
