.user-initials {
  background-color: $userPink;
  border-radius: 10rem;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;

  &.--icon-purple {
    background-color: $userPurple;
  }
}
