<div class="flight-hours-wrapper">
  <div class="instructor-container">
    <div class="image-container">
      <img
        src="recent-activity/images/svg/cirrus_logo.svg"
        class="image"
        alt="cirrus logo"
      />
    </div>
    <div class="hours-header-container">
      <span class="akzidenz-extended flight-hours-label"
        >Cirrus Flight Hours</span
      >
      <div class="flight-hours-inner-wrapper-instructor">
        <div class="flight-number-container">
          <div class="hours-text-wrapper-instructor">
            <div class="akzidenz-extended hours-instructor-student">
              <p class="body-copy-xsmall">
                {{ instructorHours }} as Instructor
              </p>
            </div>
          </div>
          <div class="hours-text-wrapper-instructor">
            <div class="akzidenz-extended hours-instructor-student">
              <p class="body-copy-xsmall">{{ studentHours }} as Student</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
