<div class="flight-hours-widget">
  <div class="flight-hours-inner-wrapper">
    
    <div class="flight-hours-header">Cirrus Flight Hours</div>

    <div class="flight-hours-icon-wrapper">
      <img src="recent-activity/images/svg/cirrus_logo.svg" class="flight-hours-icon" alt="cirrus logo" />
    </div>

    <ul class="flight-hours-hours-log">
      <li class="flight-hours-hours-log-item" title="{{ instructorHours }} as Instructor"><div>{{ instructorHours }} as Instructor</div></li>
      <li class="flight-hours-hours-log-item" title="{{ studentHours }} as Student"><div>{{ studentHours }} as Student</div></li>
    </ul>

  </div>
</div>