<div class="recent-activity-outer-wrapper">
  <ng-container
    *ngIf="
      recentActivityNotifications$ | async as recentActivityNotifications;
      else noRa
    "
  >
    <div class="recent-activity-welcome-heading">
      <h1 class="heading-3">Welcome back, {{ (user$ | async)?.firstname }}</h1>
      <cirrus-total-flight-hours
        [hours]="(flightHoursString$ | async) || '0000'"
      ></cirrus-total-flight-hours>
    </div>
    <div class="cirrus-courses-in-progress-wrapper">
      <cirrus-courses-in-progress
        [inProgressCourses]="
          recentActivityNotifications.recentActivity.in_progress_courses
        "
        (navigateToCourse)="navigateToCourse($event)"
      ></cirrus-courses-in-progress>
    </div>

    <div class="notifications-achievements-wrapper">
      <cirrus-notifications-section
        class="notifications-wrapper"
        [notifications]="recentActivityNotifications.notifications"
        (viewAllNotifications)="viewAllNotifications()"
      ></cirrus-notifications-section>

      <cirrus-achievements
        class="achievements-wrapper"
        [achievements]="
          recentActivityNotifications?.recentActivity?.achievements!
        "
      ></cirrus-achievements>
    </div>

    <cirrus-overall-progress
      class="overall-progress-wrapper"
      [overallProgress]="
        recentActivityNotifications?.recentActivity?.overall_progress!
      "
    ></cirrus-overall-progress>
  </ng-container>
</div>

<ng-template #noRa>
  <div class="recent-activity-welcome-heading">
    <h1 class="heading-3">Welcome back, {{ (user$ | async)?.firstname }}</h1>
  </div>
</ng-template>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="push">
    <cirrus-notifications-menu
      (acceptInvitationEmit)="acceptInvite($event)"
      (declineInvitationEmit)="declineInvite($event)"
      (clearNotficationsEmit)="clearNotifications()"
      (deleteNotificationEmit)="deleteNotification($event)"
      (dismissMenu)="dismissNotificationsMenu()"
      [notifications]="(recentActivityNotifications$ | async)?.notifications!"
    ></cirrus-notifications-menu>
  </mat-sidenav>
</mat-sidenav-container>
