@import 'apps/recent-activity/src/base-scss/import';

.recent-activity-welcome-heading {
  display: flex;
  flex-direction: column;

  @include breakpoint('mobile') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.cirrus-courses-in-progress-wrapper {
  width: 100%;
}

.notifications-achievements-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100%;

  @include breakpoint(mobile) {
    margin-top: 110px;
  }

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.notifications-wrapper,
.achievements-wrapper {
  width: 100%;
  @include breakpoint(tablet) {
    width: 48%;
  }
}

.achievements-wrapper {
  margin-top: 90px;

  @include breakpoint(tablet) {
    margin-top: 0;
  }
}

.overall-progress-wrapper {
  margin-top: 90px;
  width: 100%;

  @include breakpoint(mobile) {
    margin-top: 110px;
  }
}
