@import 'apps/recent-activity/src/base-scss/import';

@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

.courses-in-progress-outer-wrapper {
  position: relative;
}

.my-swiper {
  &:before, &:after {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 55px;
  }
  &:before {
    left: 0;
    background: linear-gradient(90deg,#000000 -5%,rgba(31,31,31,0) 100%);
  }
  &:after {
    right: 0;
    background: linear-gradient(270deg,#000000 -5%,rgba(31,31,31,0) 100%);
  }
  @include breakpoint(mobile) {
    &:before, &:after {
      width: 70px;
    }
  }
}

cirrus-courses-in-progress .heading-3 {
  margin: 40px 0 30px;
  @include breakpoint(mobile) {
    margin: 40px 0 35px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  @include breakpoint(mobile) {
    color: $white;
    display: block;
    z-index: 3;
  }
}

.swiper-slide {
  border-radius: 5px;
  height: 300px;
  width: 280px;
  @include breakpoint(mobile) {
    height: 192px;
    width: 422px;
  }
}

.swiper-slide-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 36%,
    rgba(0, 0, 0, 0.5) 100%
  );
  padding: 17px;
  width: 100%;
  @include breakpoint(mobile) {
    height: 192px;
    width: 422px;
  }
}

//custom styling for progress bar within slider card
.swiper-slide-container {
  .mat-progress-bar {
    width: 100%;
    @include breakpoint(mobile) {
      width: 265px;
    }
  }

  .mat-progress-bar-element,
  .mat-progress-bar,
  .mat-progress-bar-fill::after {
    border-radius: 10px;
    height: 13px;
  }

  .mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element {
    border-radius: 10px;
  }
}

.swiper-slide-content {
  display: flex;
  flex-direction: column;

  .primary-btn {
    margin-top: 20px;
  }

  @include breakpoint(mobile) {
    align-items: start;
    flex-direction: row;
    justify-content: space-between;

    .primary-btn {
      margin-top: 0;
    }
  }
}

.primary-btn.slider-card-button {
  letter-spacing: -0.005em;

  @include breakpoint(mobile) {
    padding: 13px 22px;
    font-size: 0.875rem;
  }
}

span.progress-bar-text {
  display: block;
  margin-top: 1rem;
  .total {
    margin: 0 5px 0 2px;
  }
}

.course-slide-lessons-complete {
  margin-top: 1rem;
}

.courses-in-progress-empty-wrapper {
  background: $gray1;
  border-radius: 5px;
  padding: 85px 15px;

  @include breakpoint(mobile) {
    padding: 35px 5px;
  }
}

.courses-in-progress-empty-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;

  .primary-btn {
    margin-top: 2rem;
  }
}

.courses-counter {
  color: $gray4;
}

.courses-search-bar {
  margin-top: 30px;
}

// .search-bar-form {
//   .search-bar-full-width {
//     border: 1px solid $white;
//     border-radius: 60px;
//   }
// }
