<h2 class="heading-3">
  Courses In Progress
  <span class="courses-counter">({{ inProgressCourses?.length || 0 }})</span>
</h2>

<div class="courses-slider-container">
  <div
    *ngIf="inProgressCourses.length; else noCourses"
    class="courses-in-progress-outer-wrapper"
  >

    <swiper
      [loopFillGroupWithBlank]="true"
      [loop]="true"
      [navigation]="true"
      [slidesPerView]="'auto'"
      [spaceBetween]="5"
      class="my-swiper"
    >
      <ng-template
        swiperSlide
        *ngFor="let course of inProgressCourses; index as i"
      >
        <div
          class="swiper-slide-container course"
          [ngStyle]="{
            'background-image':
              'radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6012780112044818) 100%), url(' +
              course.thumbnail_image_url +
              ')'
          }"
        >
          <h3 class="name heading-4">{{ course.name }}</h3>
          <div class="swiper-slide-content">
            <div class="course-slide-progress-wrapper">
              <mat-progress-bar
                [value]="course | courseInProgressValue"
                mode="determinate"
              ></mat-progress-bar>
              <span class="progress-bar-text body-copy-small"
                ><span>{{ course.lessons_completed }}</span
                >/<span>{{ course.lessons_total }}</span
                >Lessons Complete
              </span>
            </div>
            <button
              [routerLink]="[
                '/courses',
                course.id,
                'stages',
                course.next_lesson?.stage_id,
                'lessons',
                course.next_lesson?.lesson_id
              ]"
              class="primary-btn slider-card-button"
            >
              Resume
            </button>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>

  <div class="courses-search-bar" *ngIf="inProgressCourses.length > 0">
    <form class="search-bar-form">
      <mat-form-field class="search-bar-full-width" appearance="fill">
        <mat-label>Search My Courses</mat-label>
        <input
          type="text"
          placeholder="Search My Courses"
          aria-label="Search My Courses"
          matInput
          [formControl]="searchParameter"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="navigateTo($event)"
        >
          <mat-option
            *ngFor="let option of filteredCourses$ | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <ng-template #noCourses>
    <div class="courses-in-progress-empty-wrapper">
      <div class="courses-in-progress-empty-content">
        <p class="body-copy-medium">
          You have no courses in progress at this time. View the course catalog to
          get started.
        </p>
        <a class="primary-btn" href="#">Browse Course Catalog</a>
      </div>
    </div>
  </ng-template>
</div>
