<div class="courses-in-progress-container">
  <div class="content-wrapper">
    <h2 class="heading-3">
      Courses In Progress
      <span class="courses-counter"
        >({{ inProgressCourses.length || 0 }})</span
      >
    </h2>
  </div>

  <div class="content-wrapper">
    <div
      *ngIf="inProgressCourses.length; else noCourses"
      class="courses-in-progress-outer-wrapper"
    >
      <swiper
        [navigation]="true"
        [slidesPerView]="'auto'"
        [spaceBetween]="15"
        [centeredSlides]="false"
        class="my-swiper"
        [ngClass]="inProgressCourses.length < 2 ? 'swiper-disabled' : ''"
      >
        <ng-template
          swiperSlide
          *ngFor="let course of inProgressCourses; index as i"
        >
          <div
            class="swiper-slide-container course"
            [style.--urlString]="course.thumbnail_image_url"
          >
            <h3 class="name heading-4">{{ course.title }}</h3>
            <div class="swiper-slide-content">
              <div class="course-slide-progress-wrapper">
                <mat-progress-bar
                  [value]="course.percent_complete"
                  mode="determinate"
                ></mat-progress-bar>
                <span class="progress-bar-text body-copy-small">
                  <span>{{ course.percent_complete }}</span>% Complete
                </span>
              </div>
              <button
                *ngIf="course.next_lesson !== null"
                [routerLink]="[
                  '/courses',
                  course.id,
                  'next-lesson',
                ]"
                class="primary-btn slider-card-button"
              >
                Resume
              </button>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>

    <ng-template #noCourses>
      <div class="courses-in-progress-empty-wrapper">
        <div class="courses-in-progress-empty-content">
          <p class="body-copy-medium">
            You have no courses in progress at this time. View the course
            catalog to get started.
          </p>
          <a class="primary-btn" href="/course-catalog"
            >Browse Course Catalog</a
          >
        </div>
      </div>
    </ng-template>
  </div>
</div>
