@import 'apps/recent-activity/src/base-scss/import';

//@import '~/../../apps/recent-activity/src/base-scss/import';
@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

.mat-progress-bar-background {
  fill: #cbd0e9;
}

.mat-progress-bar-buffer {
  background-color: #cbd0e9;
}

.mat-progress-bar-fill::after {
  background-color: #3f51b5;
}

.mat-progress-bar.mat-accent .mat-progress-bar-background {
  fill: #fbccdc;
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #fbccdc;
}

.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #ff4081;
}

.mat-progress-bar.mat-warn .mat-progress-bar-background {
  fill: #f9ccc9;
}

.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: #f9ccc9;
}

.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #f44336;
}

.my-swiper {
  height: 200px;
}

.swiper-slide-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: transparent;
  height: 200px;
  margin: auto;
}

.course {
  background-repeat: no-repeat;
  width: 400px;
}

.mat-progress-bar {
  height: 12px;
  border-radius: 200px;
}

.courses-in-progress-inner-wrapper {
  background: $gray1;
  border-radius: 5px;
  padding: 35px;
  text-align: center;
}

.courses-counter {
  color: $gray4;
}
