<div #wrapper class="quiz-container">
  <div class="container">
    <h1></h1>

    <div class="quiz-overview">
      <header class="quiz-overview-header">
        <div class="quiz-overview-content">
          <div class="quiz-title-wrapper">
            <h2 class="quiz-lesson-number">{{content.title}}</h2>
            <h4 class="quiz-total-questions">
              {{this.getQuestionCount()}} Questions <span class="quiz-duration">(approximately 15 minutes)</span>
            </h4>
          </div>

          <div class="quiz-button-wrapper">
            <button class="quiz-start">Start Quiz</button>
            <div class="quiz-warning-label"><span class="quiz-warning-label-icon">i</span> This is a timed Quiz</div>
          </div>
        </div>

        <div class="quiz-icon">
          <img src="courses/images/svg/quiz_icon.svg">
        </div>
      </header>

      <div class="quiz-tags">
        <h6>Subject Content</h6>

        <ul class="quiz-tag-list">
          <li class="quiz-tag">Tag1</li>
          <li class="quiz-tag">Tag2</li>
          <li class="quiz-tag">Tag3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
