/**
 * Quiz Overview Container/Wrapper
 */
.quiz-overview {
  width: 100%;
  background-color: #3470b0;
  background: linear-gradient(180deg, #3470b0 13.28%, #2f6093 105.6%);

  @media screen and (min-width: 600px) {
    border-radius: 12px;
  }

  /**
    * Header
    */
  .quiz-overview-header {
    padding: 48px 24px;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }


  /**
    * Title
    */
  .quiz-title-wrapper {
    margin-bottom: 2rem;
  }

  .quiz-lesson-number {
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1em;
  }


  /**
    * Quiz Meta
    */
  .quiz-total-questions {
    font-size: 0.875rem;
    margin: 0 0 1.5rem 0;
  }

  .quiz-duration {
    font-size: 0.875rem;
  }


  /**
    * Start Quiz Button
    */
  .quiz-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }

  button.quiz-start {
    background-color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    height: 48px;
    border-radius: 60px;
    font-size: 1.063rem;
    color: #0077C8;
    line-height: 1em;
    width: 100%;

    @media screen and (min-width: 600px) {
      width: 160px;
    }
  }


  /**
    * Warning Labels
    */
  .quiz-warning-label {
    color: #FFD600;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 600px) {
      padding: 0;
      margin-left: 2rem;
    }
  }

  .quiz-warning-label-icon {
    border: solid 2px #FFD600;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }


  /**
    * Icon
    */
  .quiz-icon {
    display: none;

    svg {
      max-height: 110px;
    }

    @media screen and (min-width: 600px) {
      display: block;
    }
  }


  /**
    * Tags
    */
  .quiz-tags {
    background: linear-gradient(180deg, #1f384f 13.28%, rgb(33 65 97) 105.6%);
    padding: 48px 24px;

    h6 {
      margin: 0 0 1em 0;
    }
  }

  .quiz-tag-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.36rem;
    margin-right: -0.36rem;
  }

  .quiz-tag {
    font-size: 0.875rem;
    background-color: #2a547c;
    padding: 0.36rem 1.48rem;
    margin: 0.36rem;
    border-radius: 5px;
  }
}






/**
 * Quiz Question Container
 *
 * QQB = Quiz Question Box
 *
 */
.quiz-question-box {

  background: linear-gradient(180deg, #2a5986 13.28%, #294b6a 105.6%);
  padding: 1.5rem;


  .qqb-progress-bar {
    height: 6px;
    width: calc(100% + 1.5rem + 1.5rem);
    background-color: #969696;
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;

    .qqb-progress-bar-complete {
      height: 6px;
      width: 0;
      background-color: #FFFFFF;
      display: block;
    }
  }

  .qqb-meta {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
  }

  .qqb-timer {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-height: 0.875rem;
      margin-right: 0.5rem;
    }
  }


  .qqb-action {
    font-size: 1.125rem;
    color: #D1D1D1;
  }

  .qqb-answer-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .qqb-answer-item {
    font-size: 1.25rem;
    background-color: #356da5;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem
  }

  .qqb-answer-select-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: #80a5c4;
    border-radius: 100%;
    margin-right: 1rem;
  }

  .qqb-answers.--true-false {
    .qqb-answer-items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  
    .qqb-answer-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(250px - 2rem);
      height: calc(84px - 1rem);
  
      font-size: 1.75rem;
      font-family: 'Akzidenz-Grotesk BQ';
      font-weight: 500;
      text-align: center;
    }
  
    .qqb-answer-select-icon {
      display: flex;
      justify-content: center;
      align-items: center;
  
      height: 2rem;
      width: 2rem;
      margin-right: 1.5rem;
    }
  }




  .qqb-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 3rem;
  }

  .qqb-control-submit {
    font-size: 0.875rem;
    background: none;
    border: solid 1px #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 60px;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .qqb-control-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: none;
    color: #fff;

    &:hover {
      cursor: pointer;
    }

    svg {
      max-height: 1rem;
    }
  }
}
