@import 'apps/recent-activity/src/base-scss/import';

.title {
  display: flex;
  justify-content: center;
}

.logbook-wrapper {
  display: flex;
  margin-top: 32px;
}

.logbook-item {
  min-width: 150px;
  width: 20%;
  border-right: 1px solid white;
}
