<h3 class="title heading-5">Lifetime Cirrus Approach Training Stats</h3>

<div class="logbook-wrapper">
  <div
    *ngFor="
      let logbook of logbookSubset;
      let i = index;
      let count = count
    "
    class="logbook-item"
  >
    <div class="logbook-item-container">
      <img class="image" [src]="logbook.type | imageFormatter" />
      <h5 class="type heading-5">{{ logbook.type | formatLogbookType }}</h5>
      <div *ngIf="!logbook.completed; else completedArr">
        <span class="heading-2 total">0</span>
      </div>
      <ng-template #completedArr>
        <div>
          <span class="heading-2 total">{{ logbook.completed }}</span>

        </div>
      </ng-template>
    </div>
  </div>
</div>
