@import 'apps/recent-activity/src/base-scss/import';

.title {
  color: $gray5;
  display: flex;
  justify-content: center;
}

.image {
  width: 35px;
  height: 30px;
}

.logbook-wrapper {
  overflow-y: auto;
  display: flex;
  margin-top: 39px;
}

.logbook-item-container {
  margin-left: 24px;
  padding-right: 15px;
}

.type {
  margin-top: 14.3px;
}

.total {
  font-size: 2.5rem;
  margin-top: 9.83px;
}

.logbook-item {
  min-width: 209px;
  width: 20%;
  border-right: 1px solid $white;
}

.logbook-item:nth-child(5) {
  border-right: none;
}

@include breakpoint(mobile) {
  .logbook-wrapper {
    margin-top: 32px;
  }
}

@include breakpoint(tablet) {
  .logbook-item:nth-child(4) {
    border-right: none;
  }
  .logbook-item:nth-child(5) {
    margin-top: 44px;
  }

  .logbook-wrapper {
    min-width: 960px;
    flex-wrap: wrap;
  }
}

@include breakpoint(desktop) {
  .total {
    font-size: 2.188rem;
  }
}

// Needed change at 1404px-- breakpoint widescreen is 1440
@media (min-width: 1404px) {
  .logbook-item:nth-child(4) {
    border-right: 1px solid $white;
  }
  .logbook-item:nth-child(5) {
    margin-top: 0;
  }
}
