@use '~@angular/material/theming' as material;

@include material.mat-core();

@import 'apps/recent-activity/src/base-scss/import';
@import 'typography';

$primary: material.mat-define-palette($custom-palette);
$accent: material.mat-define-palette($custom-palette, A200, A100, A400);

$theme: material.mat-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include material.angular-material-theme($theme);

body {
  color: $white;
  background-color: $black;
  font-family: $akzidenz;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

.content-wrapper {
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto;
  @media (min-width: 600px) {
    padding: 0 25px;
  }

  @media (min-width: 960px) {
    padding: 0 50px;
  }
}

.apexcharts-menu {
  background-color: $black !important;
  .apexcharts-menu-item:hover {
    background: #1f1f1f;
  }
}

