.primary-btn,
%btn {
    background: $cirrus-blue;
    border: 1px solid $cirrus-blue;
    border-radius: 60px;
    display: block;
    color: $white;
    font-size: 1.0625rem;
    line-height: .9;
    padding: 11px 35px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;

    &.-wide-btn {
        padding: 11px 80px;
        
        @include breakpoint(tablet){
            padding: 11px 35px;
        }
    }
}

.primary-btn{
    &:hover {
    background: $cirrus-blue-hover;
    border: 1px solid $cirrus-blue-hover;
    }
}

.secondary-btn-gray {
    @extend %btn;
    background: $gray3;
    border: 1px solid $gray3;
    &:hover {
        background: $gray2;
        border: 1px solid $gray2;
    }
}

.secondary-btn-black {
    @extend %btn;
    background: $black;
    border: 1px solid $white;
    &:hover {
        background: $white;
        color: $black;
    }
}

.secondary-btn-white {
    @extend %btn;
    background: $white;
    border: 1px solid $white;
    color: $black;
    &:hover {
        background: $gray5;
        border: 1px solid $gray5;
    }
}

.secondary-btn-white-outline, a.secondary-btn-white-outline {
    @extend %btn;
    background: transparent;
    border: 1px solid $white;
    @media (hover: hover) {
        &:hover {
            background: $white;
            color: $black !important; //important is temporary fix due to order that typography.scss is imported, sometimes we may need our a tags to be styled like a button
        }
    }
}
