.apexcharts-menu {
  background-color: $black !important;
  .apexcharts-menu-item:hover {
    background: $gray1;
  }
}

.mat-ui-menu-override + * .cdk-overlay-pane {
  width: 100%;
}

.mat-ui-menu-override + * .cdk-overlay-pane > div.mat-menu-panel {
  background-color: $gray1;
  min-width: 100%;
}


/* Disconnected State - recent-students.component.scss */
.rs-status-disconnected {
  cirrus-profile-initials {
    .container {
      background: $gray3;
    }

    .initials {
      color:$gray4;
    }
  }
}


/**
 * Student Performance Matrial Tab Styles
 * @component student-task-performance
 */
cirrus-student-task-performance {
  .mat-tab-body-wrapper {
    margin-top: 4rem;
  }

  cirrus-horizontal-chart .chart-container {
    margin-top: 4rem;
    display: block;
  }

  @media screen and (min-width: 680px) {
    .mat-tab-body-wrapper {
      margin-top: 0;
    }
    .mat-mdc-tab-label-container {
      max-width: calc(100% - 160px);
    }
  }
  @include breakpoint(desktop) {
    .mat-tab-body-wrapper {
      margin-top: 4rem;
    }
    .mat-mdc-tab-label-container {
      max-width: 100%;
    }
  }
  @include breakpoint(widescreen) {
    .mat-tab-body-wrapper {
      margin-top: 0;
    }
    .mat-mdc-tab-label-container {
      max-width: calc(100% - 160px);
    }
  }
}


/**
 * Tab Time Filter Styles
 * @component student-task-performance
 */
#tab-filter-duration {
  mat-select {
    font-size: 14px;
    height: 49px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 0.6;
    min-width: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    @media screen and (min-width: 680px) {
      border-bottom: solid 1px $white;
    }
    @include breakpoint(desktop) {
      border-bottom: none;
    }
    @include breakpoint(widescreen) {
      border-bottom: solid 1px $white;
    }
  }
}
.student-task-performance-filter {
  &.mdc-menu-surface.mat-mdc-select-panel {
    margin-top: 0.81rem;
    position: relative;
    right: 1.5rem;
    padding: 0;
  }
}
.tab-filter-durations {
  .mat-mdc-select-arrow {
    width: initial;
    height: initial;
    border-left: initial;
    border-right: initial;
    border-top: initial;
    margin: initial;

    &:after {
      content: url("data:image/svg+xml,%3Csvg width='18' height='8' viewBox='0 0 18 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-0.203125 1.28068L0.202713 0.722656L8.99979 7.12053L17.7969 0.722656L18.2027 1.28068L8.99979 7.97372L-0.203125 1.28068Z' fill='white'/%3E%3C/svg%3E%0A");
      margin-left: 11px;
      display: block;
      transition: all 0.25s ease-in-out;
    }
  }

  &[aria-expanded='true'] .mat-mdc-select-arrow {
    &:after {
      transform: rotate(180deg);
    }
  }

  .mat-mdc-select-arrow-wrapper svg {
    display: none;
  }
}

cirrus-flight-instruction-hours .chart-header {
  background-color: #2e2e2e;
  padding: 10px 12px 12px 13px;
}


/**
 * Flight Instruction Hours
 * @desc Styles for the flight intstruction hours chart
 * @locations: /recent-activity/
 * @component flight-instruction-hours
 */
.flight-instructor-hours-filter-panel.mdc-menu-surface.mat-mdc-select-panel {
  position: relative;
  top: 12px;
  right: -12px;
  border-radius: 0;
  padding: 0;
}
cirrus-flight-instruction-hours {
  .mat-mdc-select-arrow-wrapper svg {
    display: none;
  }
}
.flight-instructor-hours-header-container {
  .chart-container-wrapper {
    overflow-y: hidden;
  }
  
  mat-select {
    .mat-mdc-select-value {
      padding-right: 1.6rem;
    }
    .mat-mdc-select-arrow {
      border-left: none;
      border-right: none;
      border-top: none;
      &::after {
        content: url("data:image/svg+xml,%3Csvg width='18' height='8' viewBox='0 0 18 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-0.203125 1.28068L0.202713 0.722656L8.99979 7.12053L17.7969 0.722656L18.2027 1.28068L8.99979 7.97372L-0.203125 1.28068Z' fill='white'/%3E%3C/svg%3E%0A");
        display: block;
        top: -0.6rem;
        margin-left: -0.81rem;
        position: absolute;
        transition: all .25s ease-in-out;
        transform: rotate(0deg);
      }
    }
    &[aria-expanded="true"] {
      .mat-mdc-select-arrow {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}


/**
 * Recent Activity Drop Downs / Select Menus
 * @desc Material Select Menu customizations
 * @locations: /recent-activity/
 * @component Material: select
 */
 .flight-instructor-hours-filter-panel,
 .student-task-performance-filter {
 
   .mat-mdc-option:hover:not(.mdc-list-item--disabled), 
   .mat-mdc-option:focus:not(.mdc-list-item--disabled), 
   .mat-mdc-option.mat-mdc-option-active, 
   .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
     background-color: $gray5;
     .mdc-list-item__primary-text  {
       color: $gray1;
     }
   }
 
   .mat-pseudo-checkbox {
     display: none;
   }
 
 }


/**
 * Recent Student Component
 * @desc Recent student component, equal height cards
 * @locations: /recent-activity/
 * @component recent-students
 */
cirrus-recent-students {

  .swiper-slide {
    height: auto;
  }

  .swiper-slide > div,
  .swiper-slide-content,
  .recent-student-progress-wrapper,
  .recent-student-card {
    height: 100%;
  }

  .recent-student-card:first-child {
    display: flex;
    align-items: center;
  }
}

/**
 * Achievements
 * @desc Styles for the achievements list
 * @locations: /recent-activity/
 * @component achievements
 */
cirrus-achievements .mat-tab-group,
cirrus-achievements .mat-tab-label {
  font-family: "akzidenz", Helvetica, Verdana, sans-serif;
}
@media screen and (min-width: 680px) {
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 0;
  }
}



/* Overriding the background color of progress bars in CourseProgressComponent */
cirrus-course-progress mat-progress-bar div.mdc-linear-progress__buffer-bar {
  background-color: #242424;
}

cirrus-course-overview-lesson-progress-bar mat-progress-bar div.mdc-linear-progress__buffer-bar {
  background-color: #004040;
}


/**
 * Material Table
 * @desc Styles tables
 * @locations: /courses/{{ID}}/enrollments
 * @component Material: Table
 */
mat-table mat-cell.mdc-data-table__cell {
  border: none;
}


/**
 * Courses In Progress - Progress Bar
 * @desc Progress bar styles for the "courses in progress" section on
 * the recent activity page
 * @locations: /recent-activity/
 * @component Material: Progress Bar
 */
.swiper-slide-container.course mat-progress-bar {
  border-radius: 30px;
}
.course-slide-progress-wrapper {
  .mat-mdc-progress-bar.mdc-linear-progress {
    height: 12px;
  }
  .mdc-linear-progress__bar-inner {
    border-top-width: var(--mdc-linear-progress-track-height, 12px);
  }
}


/**
 * Material Badge
 * @desc Styles for the notification icons in the dashboard
 * @locations: Sidebar, Top Navigation
 * @component cirrus-badge
 */
.mat-badge-content {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.875rem;
}
/**
 * These styles are not imported by default for the courses app, but 
 * are loaded in the recent activity app. There is probably a better
 * way to load this specific block of styles.
 */
.mat-badge {
  position: relative;
  &.mat-badge-warn .mat-badge-content {
    line-height: 1.3;
    font-size: 0.875rem;
    text-align: center;
    height: 18px;
    padding: 0 8px;
    border-radius: 50px;
    background: #FF3939;
    position: absolute;
    top: -0.75rem;
    width: auto;
  }
  &.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -29px;
  }
}
.mat-badge-start-left {
 .mat-badge.mat-badge-warn .mat-badge-content {
  right: initial !important;
 }
}


/**
 * Mobile Menu
 * @desc Style fixes for the mobile menu
 * @locations: Mobile Menu
 * @component Material: Menu Panel
 */
.cdk-overlay-container .mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: 100%;
  width: 100%;
}
.cdk-overlay-container .mat-mdc-menu-panel .mat-mdc-menu-content {
  padding: 0 0;
}


/**
 * Material Dialog
 * @desc Styles for material dialog
 * @locations: Courses
 * @component Material Dialog
 */
.mat-mdc-dialog-container .mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: $black;
}
.blue-popup-container {
  .mat-mdc-dialog-container .mat-mdc-dialog-surface.mdc-dialog__surface {
    height: auto;
  }
} 

/**
 * Material Button
 * @desc Styles for Material UI Buttons
 * @locations: Everywhere
 * @component Material Button
 */
.mdc-button {
  text-decoration: none;
}


/**
 * Material Autocomplete 
 * @desc Styles for autocomplete search bars
 * @locations: Recent Activity
 * @component Material Option
 */
.mat-mdc-autocomplete-panel .mat-mdc-option {
  padding: 10px 16px;
}


/**
 * Cirrus Tasks
 * @desc Styles Cirrus Tasks component
 * @locations: Courses
 * @component cirrus-task
 */
cirrus-task .mat-mdc-card {
  border-radius: 0;
}


/**
 * Certificates Full Search Input
 * @desc Styles for a generic search component
 * @note Consider making a generic component for better re-usability 
 * across the app
 * @locations: /recent-activity/achievements
 * @component: certificates-full
 */
.search-input-wrapper {
  width: 100%;
  position: relative;
  padding: 0 2px;

  input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid;
    border-radius: 74px;
    background-color: #000000;
    padding: 10px 22px;
    color: #969696;
    font-size: 1rem;
  }

  img {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.certificates-full-container {
  .search-input-wrapper {
    @include breakpoint(mobile) {
      width: 50%;
    }
  }
}


/**
 * Material Tabs
 * @desc Styles Cirrus Tasks component
 * @locations: /recent-activity/
 * @component Material: Tabs
 */
.mat-mdc-tab-list {
  border-bottom: solid 1px $gray4;
}
.mdc-tab-indicator__content--underline {
  position: relative;
  top: 1px;
}
cirrus-course .mdc-tab.mat-mdc-tab-link.mat-mdc-focus-indicator.active .mdc-tab-indicator__content--underline {
  opacity: 1;
}

/**
 * Material Buttons
 * @desc Styles for material buttons
 * @locations: /courses/{{course_id}}/stages/{{stage_id}}/lessons/{{lesson_id}}}
 * @component Material: Buttons
 */
cirrus-course-player,
cirrus-lesson-landing-page {
  cirrus-cta-button {
    button.mat-mdc-extended-fab {
      height: 48px;
      @include breakpoint(mobile) {
        height: 40px;
      }
    }
  }
}
cirrus-course-player cirrus-cta-button .mat-mdc-fab {
  box-shadow: none;
}

.content-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;

  height: 100%;
  min-height: calc(100vh - 79.5px);

  cirrus-global-footer {
    margin-top: auto;
  }
}


/**
 * Content Player
 * @desc Styles course popups with video content
 * @locations: /courses/{{course_id}}/stages/{{stage_id}}/lessons/{{lesson_id}}
 * @component cirrus-course-preview-video-player 
 */
cirrus-content-player .content-player-body cirrus-video-player .cirrus-video-player > div  {
  position: initial !important;
  padding: 0 !important;
}


/**
 * Course Preview Video Player
 * @desc Styles modal video 
 * @locations: /courses/{{course_id}}/overview
 * @component cirrus-course-preview-video-player 
 */
cirrus-video-player {
  width: 100%;
}
.cdk-overlay-backdrop.course-preview-video {
  background-color: #000;
}
.cdk-overlay-pane.course-preview-video {
  max-width: 100% !important;
  padding: 16px;
  @include breakpoint(tablet) {
    padding: 35px;
  }
}
.cirrus-course-preview-video-player iframe {
  max-height: 72vh;
}
cirrus-course-landing-page { 
  .watch-preview:hover {
    cursor:pointer;
  }
} 


apx-chart .apexcharts-toolbar {
  z-index: 4;
}

.course-preview-container {
  position: relative;
  height: 74px;

  cirrus-course-player {
    display: inline-block;
    width: 100vw;
    max-width: initial;
    position: absolute;
    left: -20px;
    z-index: 2;

    .mat-primary.mat-mdc-button-base:hover {
      box-shadow: none;
    }

    &.sticky {
      position: fixed;
      top: 65px;
      left: initial;
      right: 0;
      width: 100%;
      box-shadow: 2px 8px 24px 0px rgba(0, 0, 0, 0.80);

      .container {
        & > div {
          max-width: 60rem;
        }
      }
      
    }

    .container {
      background-color: $gray7;
      border-radius: 0;
      padding: 20px;
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.45));

      & > div {
        flex-direction: row !important;
        align-items: center !important;
      }
    }

    .text-container {
      height: 3.167rem;
      width: 100%;
    }

    .lesson-info {
      margin-right: 1rem;
      flex: 1;
      width: 100%;
    }

    .description {
      font-size: 0.88rem;
      font-weight: 500;
      line-height: 120%;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-family: 'akzidenz-grotesk_bqmedium';
      }
    }

    cirrus-cta-button {
      width: auto !important;
      margin-top: 0 !important;
      min-width: 112px !important;
      
      button {
        height: 36px;
        padding: 0;
      }
      
      span.mdc-button__label {
        font-size: 0.88rem;
      }
    }
  }

  .stripes {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    position: absolute;
    z-index: -1;

    .stripe {
      height: 15px;
      display: block;
      margin: 4px 0;
      background: rgb(90,90,90);
      background: linear-gradient(90deg, rgba(90,90,90,1) 0%, rgba(122,122,122,1) 100%);
      
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .chapter,
  .thumbnail,
  .watch-preview-container {
    display: none !important;
  }

  @include breakpoint(mobile) {
    height: 105px;
    margin-bottom: 50px;
    cirrus-course-player {
      width: calc(100vw - 107px);
      left: -25px;

      &.sticky {
        position: fixed;
        top: 78px;
        left: initial;
        right: 0;
        width: calc(100% - 107px);
      }

      .container {
        padding: 20px 25px;
      }
  
      .text-container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        min-height: 65px;

        .header {
          width: calc(100% - 50px - 112px - 1rem);
          // width: 100%;
          position:absolute;
        }
      }

      .stripes {
        -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        top: 0.4rem;
      }

      // .lesson-info .text-container {}
      .description {
        font-size: 1.125rem;
        line-height: 21.6px;
        margin-left: 6rem;

        .course-price-container {
          font-size: 0.875rem;
        }
      }

    }
    .thumbnail {
      display: block !important;
      margin-right: 20px !important;
    }
    .mobile-preview-video {
      display: none;
    }
  }

  @media (min-width: 960px) {

    cirrus-course-player {
      width: calc(100vw - 245px);
      left: -49px;

      .course-price-container.course-price-desktop {
        font-size: 1.125rem;
      }
      .course-price-container.course-price-mobile {
        font-size: 1.125rem;
      }

      &.sticky {
        width: calc(100% - 245px);
        
      }

      .stripes,
      .description .title {
        max-width: calc(100% - 8rem);
      }
      .description .title {
        font-size: 1.3125rem;
      }
      .description {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }

      button {
        width: 100%;
      }
    }
    
  }

  @media screen and (min-width: 1280px) {
    height: auto;
    position: initial;
    cirrus-course-player {
      width: 310px;
      left:initial;
      position: absolute;
      top: 285px;

      &.sticky {
        // position: fixed;

        width: calc(100% - 245px);
        top: 78px;
        right: 0;
        left: initial;
        .stripes,
        .description .title {
          max-width: calc(100% - 7rem);
        }

        .text-container {
          .header {
            max-width: calc(60rem - 50px - 112px - 1rem);
          }
          .description {
            .title {
              max-width: 21rem;
            }
            
          }
        }

        .lesson-info .text-container .description {
          font-size: 1.125rem !important;
          line-height: 21.6px !important;
          margin-left: 6rem;
          max-width: 100% !important;
        }

        .course-price-container.course-price-mobile {
          display: block;
          margin-left: auto;
        }
        .course-price-container.course-price-desktop {
          display: none;
        }
        .watch-preview-container {
          margin-bottom: 0;
          width: 12rem;
          margin-left: 2.5rem;
          img {
            max-width: 35px;
          }
        }
        .description {
          justify-content: flex-start;
          z-index: 1;
        }
      }

      &:not(.sticky) {

        .stripes,
        .description .title {
          max-width: 100%;
        }
        .container {
          border-radius: 6px;
  
          & > div {
            flex-direction: column !important;
            align-items: flex-start !important;
          }
        }
  
        .stripes {
          -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        }
  
        .lesson-info {
          margin-right: 0 !important;
          flex-direction: column !important;
        }
        
        .text-container {
          align-items: flex-start;
          flex-direction: column;
          margin-right: 0;
          .header {
            width: 100%;
            position:relative;
          }
        }

        .course-preview-divider {
          display: block;
          border-top: solid 1px #969696;
          width: 100%;
          margin-bottom: 1rem;
        }

        .course-price-container {
          margin-bottom: 1rem;
        }

        .course-price-container.course-price-mobile {
          display: none;
        }
        .course-price-container.course-price-desktop {
          display: block;
        }
  
        .description {
          margin-top: 1.5rem;
          margin-left: 0;
          margin-bottom: 0.72rem;
          flex-direction: column;
        }
  
        cirrus-cta-button {
          width: 100% !important;
          max-width: 158px !important;
          
          button {
            height: 39px;
            width: 100%;
          }
  
          span.mdc-button__label {
            font-size: 1.06rem;
          }
  
        }
  
        .watch-preview {
          img {
            max-width: 35px;  
          }
        }

      }
      

    }

    .thumbnail {
      margin-right: 0px !important;
    }

    .watch-preview-container {
      display: block !important;
      width: 100%;
    }
  }
  
}

@media screen and (min-width: 1280px) {
  .mobile-preview-video {
    display: none;
  }
}

.sidenav-collapsed {
  .course-preview-container {
    @include breakpoint(mobile) {
      cirrus-course-player {
        width: calc(100vw - 107px);
      }
    }

    @media screen and (min-width: 1280px) {
      cirrus-course-player {
        width: 310px;
        &.sticky {
          width: calc(100vw - 124px);
        }
      }
    }
  }
}

.course-preview-divider {
  display: none;
}



.course-started {
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .thumbnail {
      display: block;
    }

    .description .title,
    .description .chapter {
      font-size: 20px;
    }
  }

  cirrus-course-player .course-price-container.course-price-desktop,
  cirrus-course-player .course-price-container.course-price-mobile {
    display: none;
  }
  cirrus-course-player .course-price-container.course-price-mobile {
    font-size: 0.75rem;
  }
}


/**
 * Material Spinner Component
 * @desc Styles default styles for Material Spinners
 * @locations: Achievements page, download transcript & certificate buttons
 * @component Material Spinner
 */
.mat-progress-spinner circle, 
.mat-spinner circle {
  stroke: $cirrus-blue;
}

.spinner-white {
  .mat-progress-spinner circle, 
  .mat-spinner circle {
    stroke: #fff;
  }
}
