.apexcharts-menu {
  background-color: $black !important;
  .apexcharts-menu-item:hover {
    background: $gray1;
  }
}  

.mat-ui-menu-override + * .cdk-overlay-pane {
  width: 100%;
}

.mat-ui-menu-override + * .cdk-overlay-pane > div.mat-menu-panel {
  background-color: $gray1;
  min-width: 100%;
}