@import 'apps/recent-activity/src/base-scss/import';

.main-container {
  margin-top: 30px;
  @include breakpoint(mobile) {
    margin-top: 35px;
  }
}

.mat-tab-body.mat-tab-body-active {
  overflow: unset;
}
.mat-tab-body-content {
  overflow: unset;
}

.overall-progress-inner-wrapper {
  margin-top: 90px;

  @include breakpoint(mobile) {
    margin-top: 110px;
    padding-left: 5px;
  }
  @include breakpoint(desktop) {
    padding-left: 21px;
  }
}

.tab-container {
  margin-top: 39px;
}

@include breakpoint(mobile) {
  .tab-container {
    margin-top: 43px;
  }
}

@include breakpoint(tablet) {
  .tab-container {
    margin-top: 28px;
  }
}
