@import 'apps/recent-activity/src/base-scss/import';

.main-container {
  margin-top: 30px;
}

.mat-tab-body.mat-tab-body-active {
  overflow: unset;
}
.mat-tab-body-content {
  overflow: unset;
}

.overall-progress-inner-wrapper {
  margin-top: 90px;

  @include breakpoint(mobile) {
    margin-top: 110px;
  }
}

.tab-container {
  margin-top: 42px;
}
