@import '../../../styles';

.page-content {
    background: linear-gradient(270deg, #11254F 43.04%, #233E77 100%);
}


.hero {
    position: relative;
    padding: 2.4rem 0.5rem;
    @include breakpoint(md) {
        padding: 2.4rem;
    }
}


.cirrus-badge {
    display: none;
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;

    @include breakpoint(lg) {
        display: block;
    }
}


.hero-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 6.667rem;
    
    @include breakpoint(md) {
        margin-top: 8rem;
        margin-bottom: 5.333rem;
    }

    h1.page-title {
        margin: 0;
        text-align: center;
    }
    .date {
      font-family: $akzidenz-medium;
      font-size: rem(20px);
      margin-bottom: 1.2rem;
    }
}


.cirrus-bucks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    .title {
        font-weight: 500;
        font-size: 1.067rem;
        margin: 0 0 0.5rem;
        color: $white;
    }
    .redemption-pill {
        background-color: transparentize($white, 0.8);
        position: relative;
        padding: 0.5rem calc(98px + 2.2rem) 0.5rem 2rem;
        border-radius: 3.8rem;

        .amount {
            color: $white;
            margin: 0;
            
        }
        .redeem-cirrus-bucks {
            position: absolute;
            right: 0.25rem;
            top: 0.25rem;
            background-color: $white;
            color: $black;
            height: 1.867rem;
            padding: 0 1.5rem;
            display: flex;
            align-items: center;
            border-radius: 3.8rem;
            text-decoration: none;

            font-weight: 500;
            font-size: 1rem;

            @include breakpoint(md) {
              right: 0;
              top: 0;
              height: 100%;
          }
        }
        
    }

    .account {
        font-weight: 400;
        font-size: 0.933rem;
        margin: 0.25rem 0 0;
        color: $white;
    }
}

.hero-stats {
    margin-top: 9.667rem;
}



.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    z-index: 0;

    img.background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;

        &.active {
            display: block;
        }
    }

    .background-image-overlay {
        z-index: 2;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // opacity: 0.2;
        background: linear-gradient(180.44deg, rgba(17, 37, 79, 0) 19.44%, rgba(17, 37, 79,0.86) 86%, #11254F 96.57%);
    }
}

.hero-content {
    position: inherit;
    margin-bottom: 6rem;
}



.stats {
    list-style: none;
    padding: 1rem 0 3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blue2;

    .stat-block {
        text-align: center;
        color: $white;
        width: 100%;
        max-width: calc(200px + (2.4rem * 2) );
        padding: 1rem 2.4rem;

        .data-value {
            font-family: $akzidenz;
            font-size: rem(30px);
            line-height: rem(30px);
            margin-bottom: rem(18px);
        }
        .data-description {
            font-family: $akzidenz-medium;
            font-size: rem(16px);
            line-height: 1em;
            margin-bottom: 1rem;
        }

        .data-change {
            background-color: transparentize($white, 0.85);
            border-radius: 50px;
            padding: 0.5rem;
            text-align: center;
            font-family: $akzidenz;
            font-size: rem(14px);
            line-height: 1em;

            span {
                font-family: $akzidenz;
                font-size: rem(14px);
                line-height: 1em;
                margin-right: 0.21rem;
            }

            &.change-positive {
              color: $tealNeon;
              svg path {
                fill: $tealNeon;
              }
            }

            &.change-up svg {
              transform: rotate(180deg);
            }
        }

        @include breakpoint(md) {
            border-right: solid 1px transparentize($white, 0.8);

            &:last-child {
                border-right: none;
            }
        }
    }

    @include breakpoint(md) {
        flex-direction: row;
    }
}



.section-title {
    background: linear-gradient(270deg, $blue2 43.04%, $blue1 100%);
    padding: 1rem 0 1rem 2.4rem;
    color: $white;
    margin-top: 0;

    font-family: $akzidenz-extended;
    font-weight: 400;
    font-size: rem(20px);
    line-height: rem(24px);
    @include breakpoint(lg) {
        font-size: rem(25px);
        line-height: rem(30px);
    }
}

.card-title {
    display: flex;
    align-items: center;

    font-family: $akzidenz;
    font-size: rem(18px);
    line-height: rem(24px);
}
.live-status-icon {
    height: 9px;
    width: 9px;
    background-color: #FF3939;
    display: inline-block;
    border-radius: 100%;
    margin-left: rem(10px);
}

.card-content {
    overflow: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
table {

    .mat-mdc-cell {
        padding: 1rem;
    }
    .row {
        display: flex;
        align-items: center;
    }
    .clients-count {
        text-align: center;
    }
    button {
        font-size: rem(14px);
        background-color: transparent;
        border: solid 1px $gray5;
        border-radius: rem(20px);
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(10px) rem(15px);
        line-height: 1em;
        margin-left: auto;
        cursor: pointer;
    
        svg {
            margin-right: 0.6rem;
        }
    }

    .user-name {
        font-family: $akzidenz-medium;
        font-weight: 500;
        font-size: rem(15px);
        line-height: rem(20px);
    }
    
}

.mat-mdc-table.table-theme-light .mat-mdc-header-cell {
    border-bottom: none;
    padding: 1rem 1rem 1.5rem;
}

.horizontal-100-chart {
    color: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 1px transparentize($color: $white, $amount: 0.8);
    padding: 1rem 0.5rem;

    flex-direction: column;

    &:last-child {
        border-bottom: none;
    }
    .chart-description {
        
        font-family: $akzidenz;
        font-size: rem(15px);
        line-height: rem(22px);
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        padding-bottom: 0.9333rem;

        .data-type-name {}
        .chart-totals {
            color: $gray1;

        }

        @include breakpoint(md) {
            width: 12rem;
            flex-direction: column;
            padding-bottom: 0;
        }
    }

    .horizontal-100-chart-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 4px;
        overflow: hidden;

        .data-block {
            display: flex;
            align-items: center;
            padding: 1rem 0.5rem;
            min-width: 5rem;

            @include breakpoint(md) {
                padding: 1rem 1rem;
            }

            &:has(.data-label) {
                min-width: 9rem;
            }
            

            & > div {
                margin-right: 0.36rem;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                

                svg {
                    max-height: rem(16px);
                    @include breakpoint(md) {
                        max-height: 1.2rem;
                    }
                }

                
            }

            .data-block-total{
                font-family: $akzidenz;
                font-weight: 400;
                font-size: rem(15px);
                line-height: 1em;
                padding-top: 0.125rem;

                @include breakpoint(md) {
                    font-size: rem(20px);
                }
            }
            .data-label{
                font-family: $akzidenz;
                font-weight: 400;
                font-size: rem(13px);
                line-height: 1em;
                padding-top: 0.15rem;
            }
            
            &.--data-block-color-blue1 {
                background: $statBlue1;
            }
            &.--data-block-color-blue2 {
                background: $statBlue2;
            }
            &.--data-block-color-blue3 {
                background: $statBlue3;
            }
            &.--data-block-color-gray {
                background: $gray;
            }
        }
    }

    @include breakpoint(md) {
        flex-direction: row;
    }
}



.instructor-card-columns {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    flex-direction: column;
    .card {
        width: 100%;

        .scrollable {
            max-height: 512px;
            overflow: auto;
        }
    
        .scrollable-table {
            height: 512px;
            overflow: auto;
        
            table {
                border-collapse: collapse;
            }
            /* Set header to stick to the top of the container. */
            .mat-mdc-table.table-theme-light .mat-mdc-header-cell {
                position: sticky;
                top: 0;
            }
            th {
                background-color: $blue1;
            }
        }
    }
    

    @include breakpoint(lg) {
        flex-direction: row;
        .card.instructor-client-connections {
            max-width: 420px;
            margin-left: 2rem;
        }
    }
}
.client-connections {
    color: $white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: rem(14px);

    .client-connection {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        border-bottom: solid 1px rgba(255, 255, 255, 0.15);
        padding: 1rem 0.5rem;

        .client-data {
            display: flex;
            align-items: center;
        }

        .client-user-status {
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 100%;
            &.--dot-warning {
                background-color: $userOrange;
                margin-top: 0.4rem;
                margin-right: 0.5rem;
            }
        }

        .client-user-name {
            font-size: rem(15px);
            font-family: $akzidenz-medium;
            font-weight: 500;
        }

        a {
            color: $white;
        }

        .connection-event-time {
            font-size: rem(14px);
            text-align: right;
            line-height: 1em;
            margin-bottom: 0.5rem;
        }

        .connection-status-label {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            font-size: rem(14px);
            padding: 0.05rem 1rem;

            &.--label-pending {
                background-color: $blue4;
            }
            &.--label-accepted {
                background-color: $white;
                color: $blue1;
            }
            &.--label-remind, 
            &.--label-connect {
                border: solid 1px $white;
                cursor: pointer;
            }
        }
        
    }

    .row {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            margin-top: 0.5rem;
        }
    }
}

.charts-wrapper {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;

    @include breakpoint(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.chart-wrapper {
    width: 100%;
    @include breakpoint(md) {
        width: 50%;
    }
    @include breakpoint(lg) {
        width: 25%;
    }

    &:last-child {
        border-top: solid 1px transparentize($color: #fff, $amount: .85);
        margin-top: 1.5rem;

        @include breakpoint(md) {
            border-top: none;
            margin-top: 0;
        }
        @include breakpoint(lg) {
            border-left: solid 1px transparentize($color: #fff, $amount: .85);
        }
    }
}
