.mat-icon {
  margin-right: 10px;
}

.mat-icon[svgIcon="milestone"] {
  width: 37px;
}
.mat-icon[svgIcon="eye"] {
  width: 16px;
}
.mat-icon[svgIcon="open_lessons"] {
  width: 18px;
}
.mat-icon[svgIcon="enrollment_history"] {
  width: 15.3px;
}

.mat-tab-body {
  padding-top: 12px;
}

span.mdc-tab__text-label {
  font-family: 'Akzidenz-Grotesk BQ';
  font-size: 1.0625rem;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
}

.test-stages {
  margin-bottom: 16px;
}

.test-lesson {
  padding: 1rem;
}


.mat-mdc-tab-nav-bar {
  padding: 0 20px;
  border-bottom: 1px solid rgba(255,255,255,.12);

  @media (min-width: 600px) {
    padding: 0 25px;
  }

  @media (min-width: 960px) {
    padding: 0 50px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.mat-mdc-tab-link {
  text-decoration: none;
  opacity: .6;
}

.active {
  opacity: 1;
}
