@import '../../../styles';

.page-content {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin-top: 61px;

  
  @include breakpoint(sm) {
    margin-top: 84px;
  }
  @include breakpoint(md) {
    margin-left: 195px;
  }
}

.ctc-profile-header {
  background-color: $blue5;
  color: $white;
  padding: 50px 2rem 40px;

  .location {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 24px;
  }
  
  .location-name {
    font-weight: 400;
    font-size: 30px;
  }
}



.card {
  ul {
    padding: 0 0 0 1.2rem;
    color: $gray1;
  }
}

form#training-center-details {
  columns: 21rem 2;
  column-gap: 5rem;
}



.mat-mdc-table {
  .mat-mdc-cell {
    padding: 1rem;
  }

  .mat-column-name.mat-mdc-cell {
    @extend .subhead-small;
    .row {
      align-items: center;
    }
  }

  .mat-column-action.mat-mdc-cell {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.filter-search {
  max-width: 540px;
}

.tab-content h4 {
  margin-bottom: 20px;
}


.table-item-selector {
  color: $gray1;
  margin: 2rem 0 0;
  display: flex;
  align-items: center;

  label {
    font-weight: bold;
    color: $white;
    margin-right: 1.333rem;
  }
}


.table-background {
  margin: 1rem 0 2rem
}


.checkbox-text {
  display: inline-block;
  margin-left: 1rem;
}