<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" >
  <div class="toolbar-left" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
    <img src="assets/images/CirrusAircraftLogo.png" alt="" />
    <button mat-button>Home</button>
    <button mat-button>Courses</button>
    <button mat-button>Learn To Fly</button>
    <button mat-button>Flight Fix</button>
    <button mat-button>FAQ</button>
    <button mat-button>Contact</button>
  </div>
  <div class="toolbar-right" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem">
    <span class="material-icons"> notifications_none </span>
    <span class="material-icons"> search </span>
    <img class="avatar" src="assets/images/headshot.png" alt="">
  </div>
</mat-toolbar>
