@font-face {
  font-family: 'akzidenz-extended';
  src: url('akzidenz-grotesk-bq-extended_2814-webfont.woff2')
      format('woff2'),
    url('akzidenz-grotesk-bq-extended_2814-webfont.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'akzidenz';
  src: url('akzidenz-grotesk-bq-regular_2840-webfont.woff2')
      format('woff2'),
    url('akzidenz-grotesk-bq-regular_2840-webfont.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'akzidenz-medium';
  src: url('akzidenz-grotesk-bq-medium_2839-webfont.woff2')
      format('woff2'),
    url('akzidenz-grotesk-bq-medium_2839-webfont.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}

$akzidenz-extended: 'akzidenz-extended', Helvetica, Verdana, sans-serif;
$akzidenz: 'akzidenz', Helvetica, Verdana, sans-serif;
$akzidenz-medium: 'akzidenz-medium', Helvetica, Verdana, sans-serif;