<div cdkOverlayOrigin #originOveraly="cdkOverlayOrigin" (click)="toggleMenu()">
  <cirrus-header-dropdown
    [isScreenSmall]="isScreenSmall$ | async"
    [cirrusUser]="cirrusUser"
  ></cirrus-header-dropdown>
</div>
<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="originOveraly"
  [cdkConnectedOverlayOpen]="(showPanel$ | async)!"
>
  <section>
    <div
      [ngClass]="
        (isScreenSmall$ | async) === true
          ? 'dropdown-container-hamburger'
          : 'dropdown-container'
      "
    >
      <cirrus-menu-slider [activePane]="isLeftVisible ? 'left' : 'right'">
        <div leftPane>
          <div
            *ngIf="showDashboard"
            fxLayout="row"
            fxLayoutAlign="space-between"
            class="menu-item"
            (click)="isLeftVisible = false"
          >
            <div>Dashboard</div>
            <div><mat-icon>keyboard_arrow_right</mat-icon></div>
          </div>

          <div class="menu-item">
            <a
              [href]="
                'https://cirfullsb-cirrusaircraftvpo.cs9.force.com/approachsso/s/profile/' +
                cirrusUser.salesforce_id
              "
            >
              Edit Profile
            </a>
          </div>

          <div class="menu-item-with-border" routerLink="purchase-history">
            Purchase History
          </div>
          <div class="menu-item">
            <a href="https://www.cirrusapproach.com/learn-to-fly/">
              Learn to Fly
            </a>
          </div>
          <div class="menu-item-with-border">
            <a href="https://www.cirrusapproach.com/flight-fix/">
              Flight Fix
            </a>
          </div>
          <div
            *ngIf="!cirrusImpersonationReturnUser?.id"
            class="menu-item"
            (click)="logout()"
          >
            Logout
          </div>
          <div
            *ngIf="cirrusImpersonationReturnUser?.id"
            class="menu-item"
            (click)="impersonationLogout()"
          >
            Impersonation Logout
          </div>
        </div>

        <div rightPane fxLayout="column" fxLayoutAlign="center center">
          <div
            fxLayout="row"
            class="menu-item"
            (click)="isLeftVisible = true"
            class="menu-item-with-border"
          >
            <div><mat-icon>keyboard_arrow_left</mat-icon></div>
            <div>Back</div>
          </div>
          <div
            class="menu-item"
            routerLink="ctc/dashboard"
            *ngIf="showCTCDashboard"
          >
            CTC Dashboard
          </div>
          <div
            class="menu-item"
            routerLink="admin/
            dashboard"
            *ngIf="showLMSDashboard"
          >
            LMS Dashboard
          </div>
        </div>
      </cirrus-menu-slider>
    </div>
  </section>
</ng-template>
