<h3 class="title heading-5">Lifetime Cirrus Approach Coursework Stats</h3>

<div class="coursework-wrapper">
  <div
    *ngFor="
      let stats of courseWorkStats.slice(0, 5);
      let i = index;
      let count = count
    "
    [ngClass]="{
      'item-no-border': i + 1 === count,
      'coursework-item': i + 1 !== count
    }"
  >
    <div class="coursework-item-container">
      <img class="image" [src]="stats.type | imageFormatter" />
      <h5 class="type heading-5">{{ stats.type | formatCourseworkType }}</h5>
      <div class="total" *ngIf="!stats.completed; else completedArr">
        <span>0</span>
      </div>
      <ng-template #completedArr>
        <div class="total">
          <span>{{ stats.completed }}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
