@import 'apps/recent-activity/src/base-scss/import';

.title {
  color: $gray5;
  display: flex;
  justify-content: center;
}

.image {
  width: 35px;
  height: 30px;
}

.iacra-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.iacra-item {
  margin-top: 44px;
  width: 50%;
}

.iacra-item-container {
  margin-left: 24px;
  padding-right: 15px;
}

.type {
  margin-top: 14.3px;
  letter-spacing: -0.03em;
}

.total {
  font-size: 2.5rem;
  margin-top: 9.83px;
}

@include breakpoint(mobile) {
  .iacra-item:nth-child(4n) {
    border-right: none;
  }
  .iacra-item {
    width: 33%;
  }
}

@include breakpoint(tablet) {
  .iacra-item {
    width: 25%;
  }
}

@include breakpoint(desktop) {
  .total {
    font-size: 2.188rem;
  }
  .iacra-item {
    width: 20%;
  }
}
