.input-group {
    label {
        display: block;
    }
    input,
    select {
        // background-color: transparent;
        background-color: #29334a;
        color: $white;
        padding: 0.8333rem;
        border: none;
        border-radius: 2px;
        margin: 0.333rem 0 1.333rem;
        position: relative;
        display: block;
        width: 100%;

        &:after {
            // content: '';
            // position: absolute;
            // left: 0;
            // top: 0;
            // background-color: $white;
            // opacity: 0.15;

            content: "";
            background-color: #fff;
            width: 10rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0.5;
            z-index: 100;
        }
    }
}

.search-input {
    position: relative;
    input[type="search"] {
        background: transparent;
        border: solid 1px #fff;
        border-radius: 1rem;
        padding: 0.25rem 1rem;
        width: 100%;
        color: $white;
    }

    button {
        position: absolute;
        right: 1rem;
        top: 0;
        height: 100%;
        background: none;
        border: none;
        display: flex;
        align-items: center;
    }
}
