.page-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-top: 61px;
  
    @include breakpoint(sm) {
      margin-top: 84px;
    }
    @include breakpoint(md) {
      margin-left: 195px;
    }
  }

// Wrappers and containers
.wrapper {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
}



// Grid System
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@include breakpoint(md) {
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
}
