/* Typography */


// Fonts 
@font-face {
    font-family: 'akzidenz';
    src: url('../fonts/AkzidGrtskProReg.otf')
        format('otf'),
      url('../fonts/AkzidGrtskProReg.otf')
        format('otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-medium';
    src: url('../fonts/AkzidGrtskProMed.otf')
        format('otf'),
      url('../fonts/AkzidGrtskProMed.otf')
        format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-extended';
    src: url('../fonts/AkzidGrtskProExt.otf')
        format('otf'),
      url('../fonts/AkzidGrtskProExt.otf')
        format('otf');
    font-weight: 400;
    font-style: normal;
}

$akzidenz: 'akzidenz', Helvetica, Verdana, sans-serif;
$akzidenz-medium: 'akzidenz-medium', Helvetica, Verdana, sans-serif;
$akzidenz-extended: 'akzidenz-extended', Helvetica, Verdana, sans-serif;
  


// Headings
h1 {
    font-family: $akzidenz-extended;
    font-size: rem(25px);
    line-height: rem(25px);
    font-weight: 400;
    @include breakpoint(md) {
        font-size: rem(40px);
        line-height: rem(40px);
    }
}
h2 {
    font-family: $akzidenz-extended;
    font-size: rem(24px);
    line-height: rem(24px);
    @include breakpoint(lg) {
        font-size: rem(30px);
        line-height: rem(30px);
    }
}
h3 {
    font-family: $akzidenz-extended;
    font-size: rem(20px);
    line-height: rem(20px);
    @include breakpoint(lg) {
        font-size: rem(24px);
        line-height: rem(24px);
    }
}
h4 {
    font-family: $akzidenz-medium;
    font-size: rem(20px);
    line-height: rem(24px);
    @include breakpoint(lg) {
        font-size: rem(25px);
        line-height: rem(30px);
    }
}


// Body Text
* {
    font-family: $akzidenz;
    font-size: 15px;
    line-height: 24px;
}
.subhead {
    font-family: $akzidenz-medium;
    font-size: rem(18px);
    line-height: rem(23px);
    margin: 1em 0;
}
.subhead-small {
    font-family: $akzidenz-medium;
    font-size: rem(16px);
    line-height: rem(23px);
    margin: 1em 0;
} 
.small-text {
    font-size: rem(14px);
    line-height: rem(21px);
}
a {
    font-weight: 400;
}
a.secondary { // bold
    font-weight: 500;
}