@import 'apps/recent-activity/src/base-scss/import';

.main-content-wrapper {
  width: 100%;
}

.sidenav-wrapper {
  background: $black;
  border-right: 1px solid $gray2;
  height: 100%;
  position: fixed;
  padding: 1rem 20px;
  top: 5.1rem;
  z-index: 5;
}


.header-container {
  background: $black;
  border-bottom: 1px solid $gray2;
  padding: 25px 60px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.content-container {
  background: $black;
  color: $white;
  padding: 30px 20px;
  width: 100%;

  @include breakpoint(mobile) {
    padding: 30px 25px;
    width: calc(100% - 260px);
    float: right;
  }

  @include breakpoint(tablet) {
    padding: 50px;
  }
}

.error-container {
  z-index: 100;
  position: fixed;
  top: 91%;
  right: 2%;
}

// .row {
//   display: flex;
//   flex-direction: row;
// }

// .content-container {
//   height: 100%;
//   width: 320px;
// }

// .course-name {
//   border-bottom: 1px solid black;
// }

// .bullet {
//   color: #969696;
// }

// .sidenav-menu {
//   padding: 24px 32px;
//   width: 24vw;
//   min-width: 300px;
//   .sidenav-menu-container {
//     width: 100%;
//     .header-row {
//       padding: 24px 32px;
//     }
//     .lesson {
//       margin-left: 0.5rem;
//       align-items: center;
//       height: 58px;
//       line-height: 58px;
//       padding: 0 24px;
//       border-radius: 14px;
//     }
//     .lesson:hover {
//       cursor: pointer;
//     }
//   }
// }

// .snav-close-button {
//   cursor: pointer;
// }

// ul.student-name {
//   padding-inline-start: 16px;
// }

// .sidenav {
//   height: 100%;
//   position: -webkit-sticky;
//   position: sticky;
// }

// .header-container {
//   top: 0;
//   position: sticky;
//   background-color: black;
//   z-index: 0;
// }

// .hamburger-menu-container {
//   background-color: #1f1f1f;

//   span {
//     font-size: 17px;
//     color: #969696;
//   }
// }
// .sidenav {
//   border-right: 1px solid #3a3a3a;
// }
