<div class="main-container">
  <div class="header-container">
    <cirrus-header
      [cirrusUser]="(cirrusUser$ | async)!"
      [cirrusImpersonationReturnUser]="(cirrusImpersonateReturnUser$ | async)!"
      (hamburgerMenu)="openHamburgerMenu()"
      [notificationCount]="(notificationCount$ | async)!"
    ></cirrus-header>
  </div>
  <main class="">
    <div class="main-content-wrapper">
      <div class="sidenav" *ngIf="(isScreenSmall$ | async) === false">
        <cirrus-side-nav
          [cirrusUser]="(cirrusUser$ | async)!"
          (emitCollapse)="toggleCollapse($event)"
          [notificationCount]="(notificationCount$ | async)!"
        ></cirrus-side-nav>
      </div>
      <div class="content-container">
        <div class="outlet-container" #outletContainer>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</div>
