@import 'apps/recent-activity/src/base-scss/import';

.error-container {
  z-index: 100;
  position: fixed;
  top: 91%;
  right: 2%;
}

.main-content-wrapper {
  width: 100%;
}

.notifications-menu-active {
  opacity: 0.5;
}

.sidenav-wrapper {
  background: $black;
  border-right: 1px solid $gray2;
  height: 100%;
  position: fixed;
  padding: 1rem 20px;
  top:6.5rem;
  z-index: 5;

  @include breakpoint(mobile) {
    top: 5.9rem;
  }

  @include breakpoint(tablet) {
    top: 6.4rem;
  }
}

.content-container {
  background: $black;
  color: $white;
  margin-top: 6.9rem;
  padding: 30px 0;
  width: 100%;

  @include breakpoint(mobile) {
    float: right;
    margin-top: 7.1rem;
    width: calc(100% - 125px);
  }

  @include breakpoint(tablet) {
    padding: 50px 0;
    width: calc(100% - 244px);
    
    &.sidenav-collapsed {
      width: calc(100% - 125px);
    }
  }
}


.error-container {
  z-index: 100;
  position: fixed;
  top: 91%;
  right: 2%;
}

.popout-open,.popout-collapse {
  width: 100%;
  background-color: $black;
  color: $white;
  @include breakpoint(mobile) {
    width: 561px;
    top: 95px !important;
    left: 245px !important;
  }
  @include breakpoint(tablet) {
    top: 103px !important;
    width: 434px;
  }
}

.popout-collapse {
  @include breakpoint(mobile) {
    left: 107px !important;
  }
  @include breakpoint(tablet) {
    width: 434px;
  }
}

.mat-drawer {
  background-color: $gray1;
}

.mat-drawer-container {
  z-index: 10;

  @include breakpoint(mobile) {
    z-index: 1;
  }
}
