<div class="main-container">
  <div>
    <cirrus-global-header
      [cirrusUser]="(cirrusUser$ | async)!"
      [cirrusImpersonationReturnUser]="(cirrusImpersonateReturnUser$ | async)!"
      [notificationCount]="(notificationCountRecentActivity$ | async)!"
      (logout)="logout()"
      (impersonationLogout)="impersonationLogout()"
      [isScreenSmall]="(isScreenSmall$ | async)!"
      [deployUrl]="'recent-activity'"
      [orderCount]="(myOrdersCount$ | async)!"
      (toggleNotificationsMenu)="toggleNotificationsMenu()"
    ></cirrus-global-header>
  </div>
  <main class="">
    <div class="main-content-wrapper">
      <div class="sidenav-wrapper" *ngIf="(isScreenSmall$ | async) === false">
        <cirrus-global-side-nav
          [cirrusUser]="(cirrusUser$ | async)!"
          (emitCollapse)="toggleCollapse($event)"
          [notificationCount]="(notificationCountRecentActivity$ | async)!"
          (toggleNotificationsMenu)="toggleNotificationsMenu()"
          [deployUrl]="'recent-activity'"
        ></cirrus-global-side-nav>
        <!--        <cirrus-global-side-nav></cirrus-global-side-nav>-->
      </div>
      <div
        class="content-container"
        [ngClass]="collapse ? 'sidenav-collapsed' : 'sidenav-expanded'"
      >
        <div *ngIf="error$ | async" class="error-container">
          <cirrus-error-notification
            [calledFromWhatMfe]="project"
            (emitClose)="dismissErrorMessage()"
          ></cirrus-error-notification>
        </div>

        <div
          class="router-outlet-wrapper"
          [ngClass]="
            (isNotificationMenuOpen$ | async) ? 'notifications-menu-active' : ''
          "
          #outletContainer
        >
          <router-outlet> </router-outlet>
          <cirrus-global-footer></cirrus-global-footer>
        </div>
      </div>
    </div>
  </main>
</div>

<mat-sidenav-container class="sidenav-popout-container">
  <mat-sidenav
    #drawer
    [ngClass]="collapse ? 'popout-collapse' : 'popout-open'"
    fixedInViewport="true"
    mode="push"
    (closedStart)="drawerClosed()"
    (openedStart)="drawerOpened()"
  >
    <cirrus-notifications-menu
      (acceptInvitationEmit)="acceptInvite($event)"
      (declineInvitationEmit)="declineInvite($event)"
      (clearNotficationsEmit)="clearNotifications($event)"
      (deleteNotificationEmit)="deleteNotification($event)"
      (dismissMenu)="dismissNotificationsMenu()"
      [notifications]="(recentActivityNotifications$ | async)?.notifications!"
      [projectName]="project"
    ></cirrus-notifications-menu>
  </mat-sidenav>
</mat-sidenav-container>
