/* You can add global styles to this file, and also import other style files */
@use '~@angular/material/theming' as material;
@use 'variables' as *;
@use 'fonts';
@use 'palette';

@use './app/app.component.scss-theme.scss' as app-component;

// @use 'cirrus-ui-module' as cirrus-ui;

@import 'cirrus-ui-styles';
@import '~@angular/cdk/overlay-prebuilt.css';

@include app-component.cirrus-app-component($theme);
@import 'apps/recent-activity/src/base-scss/import';

html,
body,
.main-container {
  // height: 100%;
}

main {
  // height: calc(100% - 60px);
  // overflow: hidden;
}

.mat-dialog-content {
  max-height: initial;
}

// .mat-drawer-inner-container {
//   overflow: hidden !important;
// }

//cursor for images set to button
img[type='button'] {
  cursor: pointer;
}

.filter-button {
  background-color: $gray3;
  border-radius: 60px;
  color: $white;
  border: none;
  height: 40px;
  width: 143px;
  cursor: pointer;
  &:hover {
    background: $gray7;
  }
}
.mat-menu-content:not(:empty) {
  padding: 0 !important;
}
.mat-checkbox-inner-container {
  width: 24px !important;
  height: 24px !important;
  margin-right: 14px !important;
  .mat-checkbox-frame {
    border-width: 1px;
    border-color: $gray5;
  }
}

.mat-checkbox-label {
  white-space: normal;
}

.mat-checkbox-checkmark-path {
  stroke: $white !important;
}

.search-input {
  position: relative;
  display: flex;
  width: 100%;
  .input {
    width: 100%;
    border: 1px solid $gray7;
    border-radius: 74px;
    background-color: $black;
    padding: 10px 22px;
    color: $gray4;
    font-size: 1rem;
    &:focus-visible {
      outline: none;
    }
  }

  .input-active {
    @extend .input;
    border: none;
    border-bottom: 1px solid $gray1;
    background-color: $gray2;
    border-radius: 5px 5px 0 0;
    & ~ .text-filter-container {
      border-top: 1px solid $gray1;
      border-radius: 0 0 5px 5px;
    }
  }

  .text-filter-container {
    position: absolute;
    top: 38px;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    background-color: $gray2;

    .text-filter-section {
      cursor: pointer;
      padding: 17px 27px;
      &:hover {
        background: $gray3;
      }
    }

    .title {
      font-size: 1rem;
      font-family: $bqmedium-font;
    }

    .status {
      padding-top: 2px;
      font-size: 0.875rem;
      color: $gray4;
    }
  }
  @media (min-width: 960px) {
    order: 2;
  }
}

.tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: $black;
  color: $gray5;
  font-size: 1rem;
  padding: 11px 18px;
  margin-bottom: 15px;
  border: 1px solid $gray5;
  border-radius: 60px;
  cursor: pointer;
  & > div {
    display: flex;
  }
}

.mat-tab-label-active {
  color: $primary-font-color !important;
  opacity: 1 !important;
}

.blue-popup {
  background-color: $cirrus-blue;
  color: $primary-font-color;
}

.mat-ui-menu-override + * .cdk-overlay-pane {
  width: 100%;
}

.mat-ui-menu-override + * .cdk-overlay-pane > div.mat-menu-panel {
  background-color: $gray1;
  min-width: 100%;
}

.courses-main-content-inner-wrapper {
  padding: 30px 20px;

  @include breakpoint(mobile) {
    padding: 30px 25px;
  }
  @include breakpoint(tablet) {
    padding: 45px 50px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

cirrus-lesson-landing-page {
  mat-slide-toggle .mat-slide-toggle-bar {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #0077c8 !important;
  }

  mat-slide-toggle .mat-slide-toggle-thumb {
    top: 4px;
    right: -4px;
    height: 17px;
    width: 17px;
    position: relative;
    background-color: #0077c8 !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #0077c8 !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: white !important;
  }
}
