@import 'apps/recent-activity/src/base-scss/import';

.notification-container {
  @include breakpoint(mobile) {
    padding-left: 5px;
  }
  @include breakpoint(desktop) {
    padding-left: 21px;
  }
}

.notification-title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}

.notification-item {
  border-bottom: 1px solid $gray3;
}

.notification-number {
  margin-left: 18px;
}

.body-copy-xsmall.notifications-date {
  margin-top: 13px;
  color: $gray4;
}

.notification-text {
  margin: 5px 0px 14px;
  color: $gray5;

  @include breakpoint(mobile) {
    margin: 11px 0px 16px;
    width: 90%;
  }
  @include breakpoint(desktop) {
    margin: 6px 0px 16px;
    font-size: 0.9375rem;
  }
}

.notifications-btn-container {
  display: flex;
  justify-content: center;

  margin-top: 39px;

  @include breakpoint(mobile) {
    margin-top: 48px;
  }
  @include breakpoint(desktop) {
    margin-top: 34px;
  }
}

.no-notifications-container {
  color: $gray6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;

  @include breakpoint(tablet) {
    padding-top: 90px;
  }
}

.notifications-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.secondary-btn-black {
  padding: 9px 71px;
  @include breakpoint(mobile) {
    padding: 9px 50px;
  }
}

