<div class="notification-container">
  <div class="notification-title">
    <h2 class="heading-3">Notifications</h2>

    <span
      *ngIf="notifications?.length"
      matBadge="{{ notifications.length > 99 ? '99+' : notifications.length }}"
      matBadgeColor="warn"
      matBadgeOverlap="false"
    ></span>
  </div>
  <div class="lists" *ngIf="notifications.length; else noNotifications">
    <div
      *ngFor="
        let notification of notifications.slice(0, 6);
        let i = index;
        let count = count
      "
    >
      <div [ngClass]="{ 'notification-item': i + 1 !== count }">
        <p class="extra-small date">
          {{ notification.created_at | date: 'shortDate' }}
        </p>
        <div>
          <p class="body">
            {{ notification.body }}
          </p>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button class="secondary-btn-black" (click)="emitViewAllNotifications()">
        View All Notifications
      </button>
    </div>
  </div>

  <ng-template #noNotifications>
    <div class="no-notifications-container">
      <div>
        <div class="img-container">
          <img [src]="bellUrl" alt="notifications" />
        </div>
        <p class="extra-small">You haven't recieved any notifications.</p>
      </div>
    </div>
  </ng-template>
</div>
