<mat-dialog-content id="content-player" class="content-wrapper">
  <div class="content-wrapper" fxLayout="column wrap">
    <div class="full-width">Test</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="dialog-buttons" (click)="previousContent()">
    <span class="previous">Previous</span>
  </button>
  <div fxFlex></div>
  <button
    mat-raised-button
    class="dialog-buttons"
    tabindex="-1"
    (click)="nextContent()"
  >
    <span class="next">Next</span>
  </button>
  <button
    mat-dialog-close
    mat-raised-button
    class="dialog-buttons close-button"
    tabindex="-1"
  >
    <span class="close">Close</span>
  </button>
</mat-dialog-actions>
