@import 'apps/recent-activity/src/base-scss/import';
.dropdown {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.dropdown-active {
  @extend .dropdown;
  background-color: $black;
}

.dropdown-hamburger-container {
  height: 100%;
}

.hamburger-menu-container {
  height: 100%;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.hamburger-menu-container-active {
  @extend .hamburger-menu-container;
  background-color: black;
}

.notifications-dot {
  position: absolute;
  top: 12px;
  right: 13px;
  width: 7.09px;
  height: 7.09px;
  border-radius: 90px;
  background-color: $neon-red;
}
