<mat-sidenav-container>
  <mat-sidenav
    #snav
    mode="over"
    position="end"
    fixedInViewport="true"
    [fixedTopGap]="(isScreenSmall$ | async) ? '0' : '115'"
    disableClose="true"
  >
    <mat-nav-list>
      <ng-container *ngIf="workbook$ | async as workbook">
        <ng-container *ngIf="lesson$ | async as lesson">
          <cirrus-stages-overlay
            [workbook]="workbook"
            (closeSideNav)="close()"
            (navigateToLesson)="navigate($event)"
            [lessonId]="lesson.id"
          ></cirrus-stages-overlay>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <cirrus-lesson-landing-page
      [checkoutOffsRequired]="checkoutOffsRequired$ | async"
      [lesson]="(lesson$ | async)!"
      [defaultDesktop]="defaultDesktop"
      [defaultMobile]="defaultMobile"
      (playNextLessonContent)="playNextLessonContent($event)"
      (fetchMediaOutput)="fetchMedia($event)"
      (fetchMediaOutputIntro)="fetchMediaForIntroVideo($event)"
      (fetchScorm)="fetchScorm($event)"
      (displayOverviewOutput)="displayOverview($event)"
      [instructorView]="(instructorView$ | async)!"
      [sideNavOpen]="(sideNavOpen$ | async)!"
      (openSideNav)="openSideNav()"
      [workbook]="(workbook$ | async)!"
      (navigateToLesson)="navigate($event)"
      [isScreenSmall]="(isScreenSmall$ | async)!"
      [lessonId]="lessonId"
    ></cirrus-lesson-landing-page>
  </mat-sidenav-content>
</mat-sidenav-container>
