button {
  position: sticky;
  top: 2rem;
  right: 0;
}

mat-sidenav {
  min-width: 100vw;
  height: 100%;
  background-color: transparent;
  mat-nav-list {
    height: 100%;
    padding-top: 0;
  }
}

@media (min-width: 600px) {
  mat-sidenav {
    height: calc(100% - 78px);
    min-width: 25rem;
    max-width: 25rem;
  }
}

mat-sidenav-container.mat-drawer-container-has-open {
  z-index: 5;
  @media (min-width: 600px) {
    z-index: 1;
  }
}