<mat-sidenav-container>
  <mat-sidenav
    #snav
    mode="over"
    position="end"
    fixedInViewport="true"
    [fixedTopGap]="(isScreenSmall$ | async) ? 0 : 78"
    disableClose="true"
  >
    <mat-nav-list>
      <ng-container *ngIf="courseOverview$ | async as courseOverview">
        <ng-container *ngIf="lesson$ | async as lesson">
          <cirrus-stages-overlay
            (scrollToTop)="scrollToTop()"
            [courseOverview]="courseOverview"
            (closeSideNav)="close()"
            (navigateToLesson)="navigate($event)"
            [lessonId]="lesson.id"
          ></cirrus-stages-overlay>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <cirrus-lesson-landing-page
      [checkoutOffsRequired]="checkoutOffsRequired$ | async"
      [lesson]="(lesson$ | async)!"
      (playNextLessonContent)="playNextLessonContent($event)"
      (fetchMediaOutput)="fetchMedia($event)"
      (fetchMediaOutputIntro)="fetchMediaForIntroVideo($event)"
      (displayOverviewOutput)="displayOverview($event)"
      [sideNavOpen]="(sideNavOpen$ | async)!"
      (openSideNav)="openSideNav()"
      [courseOverview]="(courseOverview$ | async)!"
      (navigateToLesson)="navigate($event)"
      [isScreenSmall]="(isScreenSmall$ | async)!"
      [lessonId]="lessonId"
      [user]="(user$ | async)!"
      (toggleInstructorMode)="toggleInstructorMode($event)"
    ></cirrus-lesson-landing-page>
  </mat-sidenav-content>
</mat-sidenav-container>
