<div class="certificates-full-container">
  <p class="page-title body-copy-medium">
    Certificates are proof of your hard work and diligence. Every course in
    Cirrus Approach awards an official certificate unique to the user when
    completed. These can act as important proof for both insurance and recurrent
    training needs.
  </p>

  <mat-form-field appearance="outline" *ngIf="certificates.length">
    <input
      matInput
      type="text"
      placeholder="Search My Certificates"
      [formControl]="searchParam"
    />
    <img src="recent-activity/images/svg/search-icon.svg" matSuffix />
  </mat-form-field>

  <div class="certificates-list" *ngIf="certificates.length; else noCerts">
    <div class="header-row">
      <span class="course-header akzidenz-medium heading-5">COURSE</span>
      <span class="dates-header akzidenz-medium heading-5">DATES</span>
      <span class="download-header akzidenz-medium heading-5">CERTIFICATE</span>
    </div>
    <div
      class="certificate-item"
      *ngFor="let cert of filteredCertList$ | async"
    >
      <span class="course heading-6">{{ cert.course_name }}</span>
      <span class="dates heading-6">{{ cert.enrollment_date }}</span>
      <span class="download" (click)="download(cert)">
        <span class="icon">
          <span
            *ngIf="
              (loading$ | async) &&
                cert.course_attempt_id === course_attempt_id;
              else downloadIcon
            "
          >
            <mat-spinner color="accent" [diameter]="20"></mat-spinner>
          </span>
          <ng-template #downloadIcon>
            <img
              class="download-icon"
              src="recent-activity/images/svg/download-arrow.svg"
              alt=""
            />
          </ng-template>
        </span>
        <span class="download-label">Download</span>
      </span>
    </div>
  </div>
</div>

<ng-template #noCerts>
  <div class="no-certs-full">
    <img
      class="certificates-icon"
      src="recent-activity/images/svg/certificates.svg"
      alt="certificates"
    />
    <p class="body-copy-small">
      You haven’t earned any Certificates yet. Keep going!
    </p>
    <button class="primary-btn" routerLink="/learning-catalog">
      Browse Course Catalog
    </button>
  </div>
</ng-template>
