<div class="certificates-full-container">
  <p class="body-copy-medium">
    Certificates are proof of your hard work and diligence. Every course in
    Cirrus Approach awards an official certificate unique to the user when
    completed. These can act as important proof for both insurance and recurrent
    training needs.
  </p>

  <div class="certificates-input-wrapper" *ngIf="certificates.length">
    <div class="search-input-wrapper">
      <input type="text" role="search" placeholder="Search My Certificates" [formControl]="searchParam" class="" >
      <img src="recent-activity/images/svg/search-icon.svg" matSuffix />
    </div>
  </div>

  <div class="cert-table-wrapper" *ngIf="certificates.length; else noCerts">
    <div class="cert-table-header-wrapper">
      <span class="heading-6">CERTIFICATE</span>
      <div class="cert-header-internal-wrapper">
        <span class="heading-6">DATES</span>
      </div>
    </div>

    <div
      class="certificate-item-outer-wrapper"
      *ngFor="let cert of filteredCertList$ | async"
    >
      <div class="cert-name-wrapper">
        <h6 class="heading-6">{{ cert.course_name }}</h6>
      </div>
      <div class="cert-internal-item-wrapper">
        <div class="cert-date-wrapper">
          <p class="body-copy-small cert-date">{{ cert.enrollment_date }}</p>
        </div>

        <span class="download download-cert-item" (click)="download(cert)">
          <span
            *ngIf="
              (certificateLoading$ | async) && cert.id === user_certificate_id;
              else downloadIcon
            "
          >
            <mat-spinner
              class="download-icon spinner-white"
              [diameter]="20"
            ></mat-spinner>
          </span>
          <ng-template #downloadIcon>
            <img
              class="download-icon"
              src="recent-activity/images/svg/download-arrow.svg"
              alt=""
            />
          </ng-template>
          <h6 class="body-copy-small">Download</h6>
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #noCerts>
  <div class="no-certs-full">
    <img
      class="certificates-icon"
      src="recent-activity/images/svg/certificates.svg"
      alt="certificates"
    />
    <p class="body-copy-small">
      You haven’t earned any Certificates yet. Keep going!
    </p>
    <button class="primary-btn" routerLink="/learning-catalog">
      Browse Course Catalog
    </button>
  </div>
</ng-template>
