@import 'apps/recent-activity/src/base-scss/import';

.certificates-full-container {
  padding: 20px 0;

  @include breakpoint(mobile) {
    padding: 25px 0;
  }
}

.certificates-input-wrapper {
  margin-top: 50px;

  .mat-form-field {
    width: 100%;
    @include breakpoint(mobile) {
      width: 50%;
    }
  }
}

.certificates-list-wrapper {
  margin-top: 50px;
}

.cert-table-header-wrapper,
.certificate-item-outer-wrapper,
.cert-internal-item-wrapper {
  display: flex;
  flex-direction: column;
  @include breakpoint(mobile) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cert-table-header-wrapper {
  margin-top: 20px;
  padding: 35px 20px;
  width: 100%;

  @include breakpoint(mobile) {
    margin-top: 35px;
    padding: 1rem;
    padding-left: 0;
  }

  @include breakpoint(tablet) {
    margin-top: 30px;
    padding: 20px 15px;
    padding-left: 0;
  }
}

.certificate-item-outer-wrapper {
  border-bottom: 1px solid $gray3;
  padding: 35px 20px;

  @include breakpoint(mobile) {
    padding: 1rem;
    padding-left: 0;
  }

  @include breakpoint(tablet) {
    padding: 20px 15px;
    padding-left: 0;
  }
}

.cert-header-internal-wrapper {
  display: none;
  @include breakpoint(mobile) {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  @include breakpoint(tablet) {
    width: 45%;
  }

  @include breakpoint(desktop) {
    width: 35%;
  }
}

.cert-internal-item-wrapper {
  color: $gray6;
  @include breakpoint(mobile) {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  @include breakpoint(tablet) {
    width: 45%;
  }

  @include breakpoint(desktop) {
    width: 35%;
  }
}

.cert-name-wrapper {
  @include breakpoint(mobile) {
    width: 30%;
  }

  @include breakpoint(tablet) {
    width: auto;
  }
}

.cert-date {
  margin-top: 25px;
  white-space: nowrap;

  @include breakpoint(mobile) {
    margin-top: 0;
  }
}

.download-cert-item {
  cursor: pointer;
  display: flex;
  margin-top: 25px;
  transition: all 0.3s ease;

  &:hover {
    color: $white;
    font-weight: bold;
  }

  @include breakpoint(mobile) {
    margin-top: 0;
  }
}

.download-icon {
  height: 18px;
  margin-right: 9px;
  width: 15px;
}

.no-certs-full {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 0;
  align-items: center;
  text-align: center;
}
