/* Primary Colors */

// Blues
$blue1: #010F2D; // Navigation & Modal Background
$blue2: #11254F; // Primary Background
$blue3: #193061; // Drawer Background
$blue4: #36476A; // Active / Hover Background
$blue5: #4965A2; // Page Background
$blue6: #0077C8; // Element Background
$blue7: #405489; // Tab header background

// White
$white: #FFFFFF; // Active / Hover States / Lines

// Black
$black: #000000;

// Grays
$gray0: #E8E8E8; // Active / Hover Background
$gray1: #D1D1D1; // Labels / Secondary Text / Icons
$gray2: #B3B3B3; // Secondary Icons
$gray3: #828282; // Dropdown Scroll Bars



/* Secondary Colors */

// Stats
$statBlue1: #3D0DFC;
$statBlue2: #0074FC;
$statBlue3: #2BADF6;


// Hover Blues
$blueHoverLight: #14A0FF;
$blueHoverDark: #0062B3;

// Accent Colors
$red: #E52900;
$red70: #FF3939B2;
$orange: #FE8511;
$orange70: #FE8511B2;
$yellow: #FFD600;
$lime: #D6FF59;
$teal: #00B8A8;
$tealNeon: #00E5BF;
$gray: #6B8391; 


// User Colors
$userOrange: #F27935;
$userPink: #E300CC;
$userPurple: #7061E1;