<div *ngIf="certificates.length > 0; else noCertificates">
  <div class="certificate" *ngFor="let certificate of certificates.slice(0, 5)">
    <div class="enrollment-date">{{ certificate.enrollment_date }}</div>
    <div class="course-name">{{ certificate.course_name }}</div>
  </div>
  <button
    class="view"
    mat-stroked-button
    color="primary"
    [routerLink]="['achievements']"
  >
    View All Achievements
  </button>
</div>

<ng-template #noCertificates>
  <img src="recent-activity/images/svg/certificates.svg" alt="certificates" />
  <div>You haven't earned any Certificates yet. Keep going!</div>
  <button
    class="view"
    mat-stroked-button
    color="primary"
    [routerLink]="['achievements']"
  >
    View All Achievements
  </button>
</ng-template>
