<div
  class="certs-container"
  *ngIf="certificates.length > 0; else noCertificates"
>
  <div
    class="certificate-list-item"
    *ngFor="let certificate of certificates.slice(0, 5); index as i"
    [ngClass]="{ 'no-border': i === certificates.slice(0, 5).length - 1 }"
  >
    <p class="enrollment-date body-copy-xsmall">{{
      certificate.enrollment_date
    }}</p>
    <p class="body-copy-small">{{ certificate.course_name }}</p>
  </div>
  <div class="button-container">
    <button class="view secondary-btn-black -wide-btn" [routerLink]="['achievements']">
      View All Achievements
    </button>
  </div>
</div>

<ng-template #noCertificates>
  <div class="no-certs-container">
    <img class="certs-icon" src="recent-activity/images/svg/certificates.svg" alt="certificates" />
    <span class="heading-6"
      >You haven't earned any Certificates yet. Keep going!</span
    >
    <button
      class="view secondary-btn-black -wide-btn"
      [routerLink]="['achievements']"
    >
      View All Achievements
    </button>
  </div>
</ng-template>
