@import 'apps/recent-activity/src/base-scss/import';

.certs-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin: 0 auto;
  margin-top: 15px;
}

.certificate-list-item {
  border-bottom: 1px solid $gray3;
  padding: 20px 0;
  @include breakpoint(mobile) {
    padding: 30px 0;
  }
  @include breakpoint(desktop) {
    padding: 19px 0;
  }
}

.no-border {
  border-bottom: 0px;
}

.enrollment-date {
  color: $gray4;
  margin-bottom: 7px;

  @include breakpoint(mobile) {
    margin-bottom: 1px;
  }
  @include breakpoint(desktop) {
    margin-bottom: 8px;
  }

}

.no-certs-container {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  align-items: center;
  align-content: center;
  color: $gray6;
  text-align: center;
}

.course-name {
  font-size: 1.063rem;
  @include breakpoint(mobile) {
    font-size: 1rem;
  }
}

.no-cert-message {
  margin: 30px 0 15px;
  letter-spacing: -0.1px;
}
