@import 'apps/recent-activity/src/base-scss/import';

.certs-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin: 0 auto;
  margin-top: 1rem;
}

.certificate-list-item {
  border-bottom: 1px solid $gray3;
  padding: 20px 0;
}

.no-border {
  border-bottom: 0px;
}

.enrollment-date {
  color: $gray4;
  margin-bottom: 7px;
}

.no-certs-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px;
  align-items: center;
  align-content: center;
}