<div
  class="certs-container"
  *ngIf="certificates.length > 0; else noCertificates"
>
  <div
    class="certificate"
    *ngFor="let certificate of certificates.slice(0, 5); index as i"
    [ngClass]="{ 'no-border': i === certificates.slice(0, 5).length - 1 }"
  >
    <span class="enrollment-date body-copy-small">{{
      certificate.enrollment_date
    }}</span>
    <span class="course-name heading-6">{{ certificate.course_name }}</span>
  </div>
  <div class="button-container">
    <button class="view primary-btn" [routerLink]="['achievements']">
      View All Achievements
    </button>
  </div>
</div>

<ng-template #noCertificates>
  <div class="no-certs-container">
    <img src="recent-activity/images/svg/certificates.svg" alt="certificates" />
    <span class="heading-6"
      >You haven't earned any Certificates yet. Keep going!</span
    >
    <button
      class="view primary-btn"
      color="primary"
      [routerLink]="['achievements']"
    >
      View All Achievements
    </button>
  </div>
</ng-template>
